/* Animation */

@-webkit-keyframes bottle {
    0% {
        opacity: 0;
        transform: scale(0.9, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-moz-keyframes bottle {
    0% {
        opacity: 0;
        transform: scale(0.9, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-o-keyframes bottle {
    0% {
        opacity: 0;
        transform: scale(0.9, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes bottle {
    0% {
        opacity: 0;
        transform: scale(0.9, 0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@-webkit-keyframes stats {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes stats {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes stats {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes stats {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slick {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes slick {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes slick {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes slick {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes text {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes text {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
    }
}
