/* Fonts */
@font-face {
    font-family: "helveticaHeavy";
    src: url(/fonts/HelveticaNeue-Heavy.otf) format("opentype");
}

@font-face {
    font-family: "helveticaNormal";
    src: url(/fonts/HelveticaNeueLTStd-Lt.otf) format("opentype");
}