.menu-open {
    overflow-y: hidden;
    #mobile-nav {
        height: 100%;
    }
}

.menu-wrapper {
    position: relative;
}

#mobile-nav {
    height: 0;
    text-align: center;
}

.menu-icon {
    font-size: 48px;
    color: #000;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s;
    z-index: 1000;
    &:hover {
        color: #777777;
    }
}

.menu-ham {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
}

.menu-header {
    margin-top: 50px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 500;
    /* Sit on top */
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    /* Disable horizontal scroll */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    opacity: 1;
}

.menu-items {
    position: relative;
    height: 100%;
    text-align: center;
}

.menuline {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

/* The navigation links inside the overlay */

.overlay a {
    font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    line-height: 3.5rem;
    color: #000 !important;
    display: inlineblock;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
    &:hover,
    &:focus {
        color: #b20932 !important;
        background-color: transparent;
        box-shadow: none;
    }
}


/* Menu Icon */

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 101;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 24px;
    left: 10px;
    right: 10px;
    height: 1px;
    background: #000;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

.c-hamburger--htx {
    background-color: transparent;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}


/* active state, i.e. menu open */

.c-hamburger--htx.is-active {
    background-color: transparent;
    border: none;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
    background: #000;
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
    background: #000;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.menu-terms a {
    font-family: 'helveticaNormal', helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    display: inline-block;
}
