%image-bg {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 25px;
    &:before {
        content: '';
    }
}

%btn-hover {
    padding: 12px 14px;
    text-transform: uppercase;
    background-color: $primary-color;
    border: 1px solid #d8234f;
    box-shadow: 2px 3px 1px #9e4057;
    color: white;
}

%bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}