html,
body {
    font-size: 16px;
    line-height: 16px;
}

body {
    color: #000000;
    font-family: $primary-font-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: $primary-font-bold;
    font-size: 2.75rem;
    line-height: 0.9;
    text-transform: uppercase;
    &.hero-title {
        font-family: $primary-font-normal;
        font-size: 3.75rem;
        margin-top: 10px;
    }
}

h2 {
    font-family: $primary-font-bold;
    font-size: 1.875rem;
    text-transform: uppercase;
}

h3 {
    font-family: $primary-font-bold;
    font-size: 1.25rem;
}

h4 {
    font-family: $primary-font-bold;
    font-size: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.8;
}

a {
    font-family: $primary-font-bold;
    color: $primary-color;
    transition: all 0.3s;
    &:hover {
        color: $primary-color;
        opacity: 0.9;
        text-decoration: none;
    }
}

.modal-header {
    border-bottom: 0px;
    position: relative;
}

.alt {
    font-family: "mrs-eaves-xl-serif";
}

.uppercase {
    text-transform: uppercase;
}

.header-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper {
    float: left;
    a {
        display: inline-block;
        width: 80%;
    }
}

.nav-wrapper {
    float: right;
    padding: 30px 0;
}

.country-wrapper {
    position: absolute;
    top: 5px;
    right: 0;
    padding-right: 15px;
    .dropdown-menu {
        min-width: 0;
        padding: 0;
        right: 0;
        left: auto;
        z-index: 1002;
        &>li>a {
            padding: 3px;
        }
    }
}

.fp-enabled #menu {
    z-index: 70;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

nav {
    a {
        font-family: $primary-font-bold;
        color: black;
        padding: 8px 14px;
        text-transform: uppercase;
        &:hover {
            background-color: $primary-color;
            box-shadow: 2px 3px 1px #9e4057;
            color: white;
        }
        &.active {
            background-color: $primary-color;
            color: white;
        }
    }
}

.hero-wrapper {
    @extend %bg-cover;
    position: relative;
    width: 100%;
    height: 700px;
    color: white;
    &--page {
        height: 500px;
    }
    &--dark {
        color: black;
    }
    .container {
        position: relative;
        height: 100%;
    }
    &:focus {
        outline: none;
    }
}

.text-wrapper {
    display: inline-block;
    max-width: 390px;
    width: 100%;
    padding: 15px 20px;
    &--wholesaler {
        padding: 15px 0;
    }
    &--about {
        padding: 15px 0;
    }
}

.slick-carousel {
    .slick-next {
        &:before {
            content: "\ef19";
        }
        right: 30px;
    }
    .slick-prev {
        &:before {
            content: "\ef17";
        }
        left: 10px;
        z-index: 1;
    }
    .slick-next:before, .slick-prev:before {
        font-family: 'icomoon';
        font-size: 40px;
        font-weight: bold;
    }
    .hero-text {
        &--more {
            padding: 10px 30px;
            flex: 0 0 35%;
            max-width: 35%;
        }
    }
}

.icon-wrapper {
    height: 20px;
    width: 20px;
    background-size: contain;
    margin-right: 16px;
    line-height: 1;
}

.hero-text {
    @extend .text-wrapper;
    position: absolute;
    p {
        text-align: justify;
    }
    &-wrapper {
        background-color: rgba(108, 41, 19, 0.6);
    }
    &--sm {
        padding: 10px 50px 10px 25px;
    }
    &--top {
        top: 10%;
    }
    &--bottom {
        bottom: 10%;
    }
    &--center {
        top: 50%;
        transform: translateY(-50%);
    }
}

.carlsberg-wrapper {
    .hero-text {
        max-width: 500px;
        padding: 25px;
    }
    .hero-text-wrapper {
        background-color: rgba(108, 41, 19, 0.4);
    }
    .beer-slick {
        padding: 0;
    }
}

.sapporo-wrapper {
    .hero-text {
        max-width: 700px;
        padding: 25px;
    }
    .beer-slick {
        padding: 0;
        .btn-wrapper {
            margin-top: 40px;
        }
    }
    .beer-slick__img {
        padding-right: 20px;
    }
}

.beer-slick {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px 25px;
    height: 100%;
    &__text {
        padding-right: 20px;
        h2 {
            font-size: 2.2rem;
        }
    }
    &--column {
        flex-direction: column;
        align-items: flex-start;
    }
    &--width {
        width: 495px;
        max-width: 100%;
    }
    .btn-wrapper {
        margin-top: 20px;
    }
}

.col-wrapper {
    margin: 30px 0;
    p {
        text-align: justify;
    }
    .btn-wrapper {
        margin: 30px 0;
    }
    &--home {
        h2 {
            text-transform: uppercase;
        }
    }
}

.btn-wrapper {
    a {
        @extend %btn-hover;
        display: inline-block;
        width: 100%;
        max-width: 230px;
        text-align: center;
        font-weight: bold;
        &:hover {
            color: white;
        }
    }
}

.btn-premium {
    @extend %btn-hover;
    border-radius: 0;
    font-family: $primary-font-bold;
    display: inline-block;
    width: 100%;
    max-width: 230px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    &:hover {
        color: white;
    }
}

.beer-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
    h3 {
        margin-top: 10px;
        text-transform: uppercase;
    }
}

.beer-wrapper img {
    margin-right: 40px;
}

.wholesaler-wrapper {
    border-top: 1px solid #dfdfdf;
    margin: 20px 0;
    h3,
    h4 {
        text-transform: uppercase;
    }
}

#wholesaler-results {
    animation: text 1s;

    h3 {
        text-transform: uppercase;
        span.font-light {
            font-family: $primary-font-normal;
        }
    }
    [class^="icon-"] {
        font-size: 1.4rem;
        vertical-align: middle;
    }
    a {
        font-family: $primary-font-normal;
    }
    .title-wrapper {
        padding-top: 30px;
    }
}

.wholesaler-results-wrapper {
    margin-bottom: 20px;
}
.form-wrapper {
    margin: 30px 0;
    .form-control {
        border: 1px solid #e4e4e4;
        border-radius: 0px;
        box-shadow: none;
        &:focus {
            border-color: $primary-color;
        }
        &::-webkit-input-placeholder {
            font-family: $primary-font-normal;
            color: $grey;
        }
    }
    .form-group {
        margin-bottom: 10px;
    }
    input,
    select {
        height: 44px;
    }
}

.office-wrapper {
    margin: 60px 0;
}

.title-wrapper {
    margin-bottom: 20px;
    h2 {
        font-size: 1.5rem;
        text-transform: none;
    }
    &--border-bottom {
        border-bottom: 1px solid $border-grey;
    }
    &--border-top {
        border-top: 1px solid $border-grey;
    }
}

#map-au {
    height: 500px;
    width: 100%;
    // border: 1px solid #dfdfdf;
    margin-bottom: 20px;
    animation: bottle 1s;
}

#map-nz {
    height: 500px;
    width: 100%;
    // border: 1px solid #dfdfdf;
    margin-bottom: 20px;
    animation: bottle 1s;
    .jvectormap {
        &-zoomin,
        &-zoomout {
            display: none;
        }
    }
}

.jvectormap-container {
    cursor: pointer;
}

#header {
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    z-index: 9;
}


/* Brand Styles */

.brands-modal {
    padding: 20px;
    .modal-header {
        padding-top: 30px;
    }
    .modal-body .container-fluid {
        max-width: 1170px;
    }
    .modal-dialog {
        width: 100%;
        margin: 0;
    }
    .modal-content {
        background-color: rgba(255, 255, 255, 0);
    }
    a:hover>div {
        -webkit-transition: background-image 0.5s ease-in-out;
        -moz-transition: background-image 0.5s ease-in-out;
        -o-transition: background-image 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
}

.btn-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 10px;
}

.flex-wrapper-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &__coopers {
        flex: 1 0 62%;
        max-width: 62%;
    }
}

.brand-flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand-logo-wrapper {
    @extend %bg-cover;
    background-size: contain;
    margin: 20px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.brand-wrapper {
    position: relative;
    height: 100%;
    padding: 0;
    // padding-top: 100px;
}

.beer-slide {
    position: relative;
    width: 100%;
    &__description {
        position: absolute;
        width: 100%;
        text-align: center;
    }
}

.beer-img-wrapper {
    // display: flex;
    // -webkit-display: flex;
    // justify-content: center;
    // -webkit-justify-content: center;
    // align-items: flex-start;
    // -webkit-align-items: flex-start;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 60vh;
    img {
        width: 100%;
        max-width: 350px;
        height: 100%;
        max-height: 60vh;
    }
}

.fp-controlArrow {
    position: absolute;
    &.fp-next {
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        border-color: transparent transparent transparent transparent;
        font-family: 'icomoon';
        font-size: 50px;
        color: black;
        &:before {
            content: "\ef19";
        }
    }
    &.fp-prev {
        top: 50%;
        transform: translateY(-50%);
        left: -15px;
        border-color: transparent transparent transparent transparent;
        display: inline-block;
        font-family: 'icomoon';
        font-size: 50px;
        color: black;
        &:before {
            content: "\ef17";
        }
    }
}

.section {
    .beer-img-wrapper {
        opacity: 0;
    }
    .stats-wrapper {
        opacity: 0;
    }
    .beer-tagline-wrapper {
        opacity: 0;
    }
    .beer-title {
        opacity: 0;
    }
    .beer-more {
        opacity: 0;
    }
    .beer-info {
        opacity: 0;
    }
    .icon-scroll-wrapper {
        opacity: 0;
    }
}

.section.active.animation-active,
.slide.active.animation-active {
    .beer-img-wrapper {
        -webkit-animation: bottle 5s;
        /* Safari 4+ */
        -moz-animation: bottle 5s;
        /* Fx 5+ */
        -o-animation: bottle 5s;
        /* Opera 12+ */
        animation: bottle 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .stats-wrapper {
        animation: stats 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .beer-tagline-wrapper {
        animation: slick 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .beer-title {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .beer-more {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .beer-info {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .icon-scroll-wrapper {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

.section.animation-leaving,
.slide.active.animation-leaving {
    .beer-img-wrapper {
        -webkit-animation: bottle 5s;
        /* Safari 4+ */
        -moz-animation: bottle 5s;
        /* Fx 5+ */
        -o-animation: bottle 5s;
        /* Opera 12+ */
        animation: bottle 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .stats-wrapper {
        animation: stats 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .beer-tagline-wrapper {
        animation: slick 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .beer-title {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .beer-more {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .beer-info {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    .icon-scroll-wrapper {
        animation: text 1s;
        /* IE 10+, Fx 29+ */
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
}

.stats-wrapper {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 15px;
}

.stats-box {
    background-color: #FFF;
    border: 2px solid #000;
    width: 60px;
    height: 60px;
    padding: 5px;
    display: flex;
    -webkit-display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:not(:first-child) {
        margin-top: -2px;
    }
    .stats-value {
        font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
        font-size: 0.8rem;
        line-height: 1rem;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .stats-label {
        font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
        font-size: 0.5rem;
        line-height: 0.6rem;
        margin-bottom: 0px;
        margin-top: 0px;
        &.stats-light {
            color: white;
        }
    }
    .stats-roll-bg {
        background-size: contain;
    }
}

.roll-bottle {
    width: 40px;
    padding: 6px;
}
.beer-tagline-wrapper {
    position: absolute;
    top: 0px;
    right: 15px;
    overflow: visible;
    display: inline-block;
    // border: 1px solid #000;
}

.beer-tagline {
    transform: rotate(90deg) translate(100%, 0);
    transform-origin: top right;
    // -webkit-transform: rotate(90deg) translate(100%, 0);
    // -webkit-transform-origin: top right;
    white-space: pre-wrap;
    // transition: all 1s ease-in-out;
    // border: 1px solid #000;
    font-size: 2.75rem;
    line-height: 2.75rem;
    margin: 0;
}

.beer-title {
    display: inline-block;
    margin: 10px;
    h1 {
        font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
        font-size: 1rem;
        line-height: 1rem;
    }
}

.beer-more {
    width: 100%;
    text-align: center;
    a {
        font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
        font-size: 1rem;
        line-height: 1rem;
    }
}

.beer-info {
    padding-left: 75px;
    padding-right: 75px;
}

.icon-scroll-wrapper {
    display: inline-block;
    margin: 20px;
    span {
        font-size: 24px;
    }
}

.btn-brand {
    background-color: #b20932;
    color: #FFF;
    font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    white-space: nowrap;
    padding: 10px 10px 10px 10px;
    border-radius: 1px;
    border: 1px solid #d8234f;
    -webkit-box-shadow: 3px 3px 0px 2px rgba(158, 64, 87, 1);
    -moz-box-shadow: 2px 3px 0px 2px rgba(158, 64, 87, 1);
    box-shadow: 3px 3px 0px 2px rgba(158, 64, 87, 1);
    transform: rotate(90deg);
    transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -webkit-transition: all 2s;
    /* Safari */
    transition: all 2s;
    &:hover {
        background-color: #d8234f;
    }
}

.brand-btn-wrapper {
    position: absolute;
    top: -15px;
    left: 5px;
    text-align: right;
}

#age-verification-modal {
    &.modal-content {
        padding: 30px;
    }
    .modal-header {
        border-bottom: 0px;
    }
    p a {
        font-family: $primary-font-normal;
    }
    .checkbox-wrapper {
        margin: 30px 0;
        .btn-group {
            margin-right: 10px;
        }
        .btn {
            border-radius: 10%;
            border: 1px solid #e2e2e2;
            background-color: #FFF;
            color: #707070;
            padding: 10px 13px 4px 13px;
            i {
                opacity: 0;
                color: #FFF;
                font-size: 1.2rem;
            }
            &.active {
                border: 1px solid black;
                background-color: black;
                i {
                    opacity: 1;
                }
            }
        }
    }
    .btn-wrapper {
        .btn {
            @extend %btn-hover;
            max-width: 120px;
            padding: 14px 25px;
            font-family: $primary-font-bold;
            color: white;
            transition: all 0.3s;
            border-radius: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.modal-backdrop {
    background-color: #fff !important;
    &.in {
        opacity: 0.95 !important;
    }
}

.modal-content {
    border: 0px !important;
    box-shadow: 0 3px 9px rgba(214, 214, 214, 0.5) !important;
    -webkit-box-shadow: 0 3px 9px rgba(214, 214, 214, 0.5) !important;
}

.footer-wrapper {
    border-top: 1px solid #ebebeb;
    padding: 80px 0 50px 0;
    text-align: center;
    background-color: #fcfcfc;
    p {
        font-size: 0.8rem;
    }
    a {
        font-family: $primary-font-normal;
        font-size: 0.8rem;
        color: #cecece;
    }
}

@media screen and (min-width: 1200px) {
    .col-padding {
        padding-right: 65px;
    }
    .col-padding-md {
        padding-right: 90px;
    }
    .col-padding-lg {
        padding-right: 220px;
    }
    .col-padding-xlg {
        padding-right: 280px;
    }
    .col-fixed-height {
        height: 350px;
        position: relative;
    }
    .col-wrapper--home {
        .btn-wrapper {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0;
        }
    }
    .brands-modal {
        .modal-content {
            height: 95vh;
        }
    }
}

@media (max-width: 768px) {
    .col-wrapper {
        p {
            padding-right: 0px;
        }
    }
    .hero-wrapper {
        height: 500px;
    }
    .fp-controlArrow {
        &.fp-next {
            display: none;
        }
        &.fp-prev {
            display: none;
        }
    }
    .logo-wrapper {
        width: 200px;
    }
    .beer-tagline {
        font-size: 1.45rem;
        line-height: 1.25rem;
        overflow-wrap: normal;
    }
    .stockists-image-wrapper {
        padding: 20px 0;
    }
    .beer-slick {
        h1 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 992px) {
    .flex-wrapper {
        justify-content: center;
        &__coopers {
            flex: 1 0 90%;
            max-width: 90%;
            .beer-slick {
                flex-direction: column-reverse;
                align-items: flex-start;
                padding: 25px;
            }
        }
    }
    .carlsberg-wrapper,
    .sapporo-wrapper {
        .hero-text {
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 90%;
            max-width: none;
        }
    }
    .sapporo-wrapper {
        .beer-slick {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

@media (min-width: 992px) {
    .stats-wrapper {
        left: 75px;
    }
    .stats-box {
        width: 90px;
        height: 90px;
        .stats-value {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        .stats-label {
            font-size: 0.7rem;
            line-height: 0.7rem;
        }
    }
    .beer-tagline {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .stats-wrapper {
        left: 25px;
    }
    .stats-box {
        width: 90px;
        height: 90px;
        .stats-value {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        .stats-label {
            font-size: 0.7rem;
            line-height: 0.7rem;
        }
    }
    .beer-tagline {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
}

@media (min-height: 0px) and (max-height: 900px) {
    .beer-info {
        display: none !important;
    }
    .beer-more {
        display: block !important;
    }
}
