$primary-color: #b20932;
$grey: #a7a7a7;
$border-grey: #dfdfdf;
$primary-font-bold: "helveticaHeavy", helvetica, Arial, sans-serif;
$primary-font-normal: "helveticaNormal", helvetica, Arial, sans-serif;