.btn-wrapper a, .btn-premium, #age-verification-modal .btn-wrapper .btn {
  padding: 12px 14px;
  text-transform: uppercase;
  background-color: #b20932;
  border: 1px solid #d8234f;
  box-shadow: 2px 3px 1px #9e4057;
  color: white; }

.hero-wrapper, .brand-logo-wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* Fonts */
@font-face {
  font-family: "helveticaHeavy";
  src: url(/fonts/HelveticaNeue-Heavy.otf) format("opentype"); }
@font-face {
  font-family: "helveticaNormal";
  src: url(/fonts/HelveticaNeueLTStd-Lt.otf) format("opentype"); }
/* Animation */
@-webkit-keyframes bottle {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@-moz-keyframes bottle {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@-o-keyframes bottle {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@keyframes bottle {
  0% {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@-webkit-keyframes stats {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1; } }
@-moz-keyframes stats {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1; } }
@-o-keyframes stats {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1; } }
@keyframes stats {
  0% {
    opacity: 0;
    transform: translateX(-50px); }
  100% {
    opacity: 1; } }
@-webkit-keyframes slick {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1; } }
@-moz-keyframes slick {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1; } }
@-o-keyframes slick {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1; } }
@keyframes slick {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  100% {
    opacity: 1; } }
@-webkit-keyframes text {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1; } }
@-moz-keyframes text {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1; } }
@-o-keyframes text {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1; } }
@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1; } }
.menu-open {
  overflow-y: hidden; }
  .menu-open #mobile-nav {
    height: 100%; }

.menu-wrapper {
  position: relative; }

#mobile-nav {
  height: 0;
  text-align: center; }

.menu-icon {
  font-size: 48px;
  color: #000;
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s;
  z-index: 1000; }
  .menu-icon:hover {
    color: #777777; }

.menu-ham {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  right: 0px; }

.menu-header {
  margin-top: 50px; }

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 500;
  /* Sit on top */
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  /* Disable horizontal scroll */
  transition: 0.2s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  opacity: 1; }

.menu-items {
  position: relative;
  height: 100%;
  text-align: center; }

.menuline {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px; }

/* The navigation links inside the overlay */
.overlay a {
  font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  line-height: 3.5rem;
  color: #000 !important;
  display: inlineblock;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }
  .overlay a:hover, .overlay a:focus {
    color: #b20932 !important;
    background-color: transparent;
    box-shadow: none; }

/* Menu Icon */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 101; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 10px;
  right: 10px;
  height: 1px;
  background: #000; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

.c-hamburger--htx {
  background-color: transparent; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
  border: none; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  background: #000; }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  background: #000; }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

.menu-terms a {
  font-family: 'helveticaNormal', helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  display: inline-block; }

html,
body {
  font-size: 16px;
  line-height: 16px; }

body {
  color: #000000;
  font-family: "helveticaNormal", helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  font-size: 2.75rem;
  line-height: 0.9;
  text-transform: uppercase; }
  h1.hero-title {
    font-family: "helveticaNormal", helvetica, Arial, sans-serif;
    font-size: 3.75rem;
    margin-top: 10px; }

h2 {
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  font-size: 1.875rem;
  text-transform: uppercase; }

h3 {
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  font-size: 1.25rem; }

h4 {
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  font-size: 1rem; }

p {
  font-size: 1rem;
  line-height: 1.8; }

a {
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  color: #b20932;
  transition: all 0.3s; }
  a:hover {
    color: #b20932;
    opacity: 0.9;
    text-decoration: none; }

.modal-header {
  border-bottom: 0px;
  position: relative; }

.alt {
  font-family: "mrs-eaves-xl-serif"; }

.uppercase {
  text-transform: uppercase; }

.header-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.logo-wrapper {
  float: left; }
  .logo-wrapper a {
    display: inline-block;
    width: 80%; }

.nav-wrapper {
  float: right;
  padding: 30px 0; }

.country-wrapper {
  position: absolute;
  top: 5px;
  right: 0;
  padding-right: 15px; }
  .country-wrapper .dropdown-menu {
    min-width: 0;
    padding: 0;
    right: 0;
    left: auto;
    z-index: 1002; }
    .country-wrapper .dropdown-menu > li > a {
      padding: 3px; }

.fp-enabled #menu {
  z-index: 70;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; }

nav a {
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  color: black;
  padding: 8px 14px;
  text-transform: uppercase; }
  nav a:hover {
    background-color: #b20932;
    box-shadow: 2px 3px 1px #9e4057;
    color: white; }
  nav a.active {
    background-color: #b20932;
    color: white; }

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  color: white; }
  .hero-wrapper--page {
    height: 500px; }
  .hero-wrapper--dark {
    color: black; }
  .hero-wrapper .container {
    position: relative;
    height: 100%; }
  .hero-wrapper:focus {
    outline: none; }

.text-wrapper, .hero-text {
  display: inline-block;
  max-width: 390px;
  width: 100%;
  padding: 15px 20px; }
  .text-wrapper--wholesaler {
    padding: 15px 0; }
  .text-wrapper--about {
    padding: 15px 0; }

.slick-carousel .slick-next {
  right: 30px; }
  .slick-carousel .slick-next:before {
    content: "\ef19"; }
.slick-carousel .slick-prev {
  left: 10px;
  z-index: 1; }
  .slick-carousel .slick-prev:before {
    content: "\ef17"; }
.slick-carousel .slick-next:before, .slick-carousel .slick-prev:before {
  font-family: 'icomoon';
  font-size: 40px;
  font-weight: bold; }
.slick-carousel .hero-text--more {
  padding: 10px 30px;
  flex: 0 0 35%;
  max-width: 35%; }

.icon-wrapper {
  height: 20px;
  width: 20px;
  background-size: contain;
  margin-right: 16px;
  line-height: 1; }

.hero-text {
  position: absolute; }
  .hero-text p {
    text-align: justify; }
  .hero-text-wrapper {
    background-color: rgba(108, 41, 19, 0.6); }
  .hero-text--sm {
    padding: 10px 50px 10px 25px; }
  .hero-text--top {
    top: 10%; }
  .hero-text--bottom {
    bottom: 10%; }
  .hero-text--center {
    top: 50%;
    transform: translateY(-50%); }

.carlsberg-wrapper .hero-text {
  max-width: 500px;
  padding: 25px; }
.carlsberg-wrapper .hero-text-wrapper {
  background-color: rgba(108, 41, 19, 0.4); }
.carlsberg-wrapper .beer-slick {
  padding: 0; }

.sapporo-wrapper .hero-text {
  max-width: 700px;
  padding: 25px; }
.sapporo-wrapper .beer-slick {
  padding: 0; }
  .sapporo-wrapper .beer-slick .btn-wrapper {
    margin-top: 40px; }
.sapporo-wrapper .beer-slick__img {
  padding-right: 20px; }

.beer-slick {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 10px 25px;
  height: 100%; }
  .beer-slick__text {
    padding-right: 20px; }
    .beer-slick__text h2 {
      font-size: 2.2rem; }
  .beer-slick--column {
    flex-direction: column;
    align-items: flex-start; }
  .beer-slick--width {
    width: 495px;
    max-width: 100%; }
  .beer-slick .btn-wrapper {
    margin-top: 20px; }

.col-wrapper {
  margin: 30px 0; }
  .col-wrapper p {
    text-align: justify; }
  .col-wrapper .btn-wrapper {
    margin: 30px 0; }
  .col-wrapper--home h2 {
    text-transform: uppercase; }

.btn-wrapper a {
  display: inline-block;
  width: 100%;
  max-width: 230px;
  text-align: center;
  font-weight: bold; }
  .btn-wrapper a:hover {
    color: white; }

.btn-premium {
  border-radius: 0;
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  display: inline-block;
  width: 100%;
  max-width: 230px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem; }
  .btn-premium:hover {
    color: white; }

.beer-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0; }
  .beer-text-wrapper h3 {
    margin-top: 10px;
    text-transform: uppercase; }

.beer-wrapper img {
  margin-right: 40px; }

.wholesaler-wrapper {
  border-top: 1px solid #dfdfdf;
  margin: 20px 0; }
  .wholesaler-wrapper h3,
  .wholesaler-wrapper h4 {
    text-transform: uppercase; }

#wholesaler-results {
  animation: text 1s; }
  #wholesaler-results h3 {
    text-transform: uppercase; }
    #wholesaler-results h3 span.font-light {
      font-family: "helveticaNormal", helvetica, Arial, sans-serif; }
  #wholesaler-results [class^="icon-"] {
    font-size: 1.4rem;
    vertical-align: middle; }
  #wholesaler-results a {
    font-family: "helveticaNormal", helvetica, Arial, sans-serif; }
  #wholesaler-results .title-wrapper {
    padding-top: 30px; }

.wholesaler-results-wrapper {
  margin-bottom: 20px; }

.form-wrapper {
  margin: 30px 0; }
  .form-wrapper .form-control {
    border: 1px solid #e4e4e4;
    border-radius: 0px;
    box-shadow: none; }
    .form-wrapper .form-control:focus {
      border-color: #b20932; }
    .form-wrapper .form-control::-webkit-input-placeholder {
      font-family: "helveticaNormal", helvetica, Arial, sans-serif;
      color: #a7a7a7; }
  .form-wrapper .form-group {
    margin-bottom: 10px; }
  .form-wrapper input,
  .form-wrapper select {
    height: 44px; }

.office-wrapper {
  margin: 60px 0; }

.title-wrapper {
  margin-bottom: 20px; }
  .title-wrapper h2 {
    font-size: 1.5rem;
    text-transform: none; }
  .title-wrapper--border-bottom {
    border-bottom: 1px solid #dfdfdf; }
  .title-wrapper--border-top {
    border-top: 1px solid #dfdfdf; }

#map-au {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  animation: bottle 1s; }

#map-nz {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  animation: bottle 1s; }
  #map-nz .jvectormap-zoomin, #map-nz .jvectormap-zoomout {
    display: none; }

.jvectormap-container {
  cursor: pointer; }

#header {
  position: fixed;
  top: 0px;
  display: block;
  width: 100%;
  z-index: 9; }

/* Brand Styles */
.brands-modal {
  padding: 20px; }
  .brands-modal .modal-header {
    padding-top: 30px; }
  .brands-modal .modal-body .container-fluid {
    max-width: 1170px; }
  .brands-modal .modal-dialog {
    width: 100%;
    margin: 0; }
  .brands-modal .modal-content {
    background-color: rgba(255, 255, 255, 0); }
  .brands-modal a:hover > div {
    -webkit-transition: background-image 0.5s ease-in-out;
    -moz-transition: background-image 0.5s ease-in-out;
    -o-transition: background-image 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.btn-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 10px; }

.flex-wrapper-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .flex-wrapper__coopers {
    flex: 1 0 62%;
    max-width: 62%; }

.brand-flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.brand-logo-wrapper {
  background-size: contain;
  margin: 20px;
  position: relative;
  transition: all 0.5s ease-in-out; }

.brand-wrapper {
  position: relative;
  height: 100%;
  padding: 0; }

.beer-slide {
  position: relative;
  width: 100%; }
  .beer-slide__description {
    position: absolute;
    width: 100%;
    text-align: center; }

.beer-img-wrapper {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  height: 60vh; }
  .beer-img-wrapper img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 60vh; }

.fp-controlArrow {
  position: absolute; }
  .fp-controlArrow.fp-next {
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    border-color: transparent transparent transparent transparent;
    font-family: 'icomoon';
    font-size: 50px;
    color: black; }
    .fp-controlArrow.fp-next:before {
      content: "\ef19"; }
  .fp-controlArrow.fp-prev {
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    border-color: transparent transparent transparent transparent;
    display: inline-block;
    font-family: 'icomoon';
    font-size: 50px;
    color: black; }
    .fp-controlArrow.fp-prev:before {
      content: "\ef17"; }

.section .beer-img-wrapper {
  opacity: 0; }
.section .stats-wrapper {
  opacity: 0; }
.section .beer-tagline-wrapper {
  opacity: 0; }
.section .beer-title {
  opacity: 0; }
.section .beer-more {
  opacity: 0; }
.section .beer-info {
  opacity: 0; }
.section .icon-scroll-wrapper {
  opacity: 0; }

.section.active.animation-active .beer-img-wrapper,
.slide.active.animation-active .beer-img-wrapper {
  -webkit-animation: bottle 5s;
  /* Safari 4+ */
  -moz-animation: bottle 5s;
  /* Fx 5+ */
  -o-animation: bottle 5s;
  /* Opera 12+ */
  animation: bottle 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
.section.active.animation-active .stats-wrapper,
.slide.active.animation-active .stats-wrapper {
  animation: stats 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
.section.active.animation-active .beer-tagline-wrapper,
.slide.active.animation-active .beer-tagline-wrapper {
  animation: slick 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
.section.active.animation-active .beer-title,
.slide.active.animation-active .beer-title {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
.section.active.animation-active .beer-more,
.slide.active.animation-active .beer-more {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
.section.active.animation-active .beer-info,
.slide.active.animation-active .beer-info {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
.section.active.animation-active .icon-scroll-wrapper,
.slide.active.animation-active .icon-scroll-wrapper {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.section.animation-leaving .beer-img-wrapper,
.slide.active.animation-leaving .beer-img-wrapper {
  -webkit-animation: bottle 5s;
  /* Safari 4+ */
  -moz-animation: bottle 5s;
  /* Fx 5+ */
  -o-animation: bottle 5s;
  /* Opera 12+ */
  animation: bottle 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }
.section.animation-leaving .stats-wrapper,
.slide.active.animation-leaving .stats-wrapper {
  animation: stats 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }
.section.animation-leaving .beer-tagline-wrapper,
.slide.active.animation-leaving .beer-tagline-wrapper {
  animation: slick 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }
.section.animation-leaving .beer-title,
.slide.active.animation-leaving .beer-title {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }
.section.animation-leaving .beer-more,
.slide.active.animation-leaving .beer-more {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }
.section.animation-leaving .beer-info,
.slide.active.animation-leaving .beer-info {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }
.section.animation-leaving .icon-scroll-wrapper,
.slide.active.animation-leaving .icon-scroll-wrapper {
  animation: text 1s;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: reverse; }

.stats-wrapper {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 15px; }

.stats-box {
  background-color: #FFF;
  border: 2px solid #000;
  width: 60px;
  height: 60px;
  padding: 5px;
  display: flex;
  -webkit-display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .stats-box:not(:first-child) {
    margin-top: -2px; }
  .stats-box .stats-value {
    font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 0px;
    margin-top: 0px; }
  .stats-box .stats-label {
    font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
    font-size: 0.5rem;
    line-height: 0.6rem;
    margin-bottom: 0px;
    margin-top: 0px; }
    .stats-box .stats-label.stats-light {
      color: white; }
  .stats-box .stats-roll-bg {
    background-size: contain; }

.roll-bottle {
  width: 40px;
  padding: 6px; }

.beer-tagline-wrapper {
  position: absolute;
  top: 0px;
  right: 15px;
  overflow: visible;
  display: inline-block; }

.beer-tagline {
  transform: rotate(90deg) translate(100%, 0);
  transform-origin: top right;
  white-space: pre-wrap;
  font-size: 2.75rem;
  line-height: 2.75rem;
  margin: 0; }

.beer-title {
  display: inline-block;
  margin: 10px; }
  .beer-title h1 {
    font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem; }

.beer-more {
  width: 100%;
  text-align: center; }
  .beer-more a {
    font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem; }

.beer-info {
  padding-left: 75px;
  padding-right: 75px; }

.icon-scroll-wrapper {
  display: inline-block;
  margin: 20px; }
  .icon-scroll-wrapper span {
    font-size: 24px; }

.btn-brand {
  background-color: #b20932;
  color: #FFF;
  font-family: 'helveticaHeavy', helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  border-radius: 1px;
  border: 1px solid #d8234f;
  -webkit-box-shadow: 3px 3px 0px 2px #9e4057;
  -moz-box-shadow: 2px 3px 0px 2px #9e4057;
  box-shadow: 3px 3px 0px 2px #9e4057;
  transform: rotate(90deg);
  transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
  -webkit-transition: all 2s;
  /* Safari */
  transition: all 2s; }
  .btn-brand:hover {
    background-color: #d8234f; }

.brand-btn-wrapper {
  position: absolute;
  top: -15px;
  left: 5px;
  text-align: right; }

#age-verification-modal.modal-content {
  padding: 30px; }
#age-verification-modal .modal-header {
  border-bottom: 0px; }
#age-verification-modal p a {
  font-family: "helveticaNormal", helvetica, Arial, sans-serif; }
#age-verification-modal .checkbox-wrapper {
  margin: 30px 0; }
  #age-verification-modal .checkbox-wrapper .btn-group {
    margin-right: 10px; }
  #age-verification-modal .checkbox-wrapper .btn {
    border-radius: 10%;
    border: 1px solid #e2e2e2;
    background-color: #FFF;
    color: #707070;
    padding: 10px 13px 4px 13px; }
    #age-verification-modal .checkbox-wrapper .btn i {
      opacity: 0;
      color: #FFF;
      font-size: 1.2rem; }
    #age-verification-modal .checkbox-wrapper .btn.active {
      border: 1px solid black;
      background-color: black; }
      #age-verification-modal .checkbox-wrapper .btn.active i {
        opacity: 1; }
#age-verification-modal .btn-wrapper .btn {
  max-width: 120px;
  padding: 14px 25px;
  font-family: "helveticaHeavy", helvetica, Arial, sans-serif;
  color: white;
  transition: all 0.3s;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.modal-backdrop {
  background-color: #fff !important; }
  .modal-backdrop.in {
    opacity: 0.95 !important; }

.modal-content {
  border: 0px !important;
  box-shadow: 0 3px 9px rgba(214, 214, 214, 0.5) !important;
  -webkit-box-shadow: 0 3px 9px rgba(214, 214, 214, 0.5) !important; }

.footer-wrapper {
  border-top: 1px solid #ebebeb;
  padding: 80px 0 50px 0;
  text-align: center;
  background-color: #fcfcfc; }
  .footer-wrapper p {
    font-size: 0.8rem; }
  .footer-wrapper a {
    font-family: "helveticaNormal", helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: #cecece; }

@media screen and (min-width: 1200px) {
  .col-padding {
    padding-right: 65px; }

  .col-padding-md {
    padding-right: 90px; }

  .col-padding-lg {
    padding-right: 220px; }

  .col-padding-xlg {
    padding-right: 280px; }

  .col-fixed-height {
    height: 350px;
    position: relative; }

  .col-wrapper--home .btn-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0; }

  .brands-modal .modal-content {
    height: 95vh; } }
@media (max-width: 768px) {
  .col-wrapper p {
    padding-right: 0px; }

  .hero-wrapper {
    height: 500px; }

  .fp-controlArrow.fp-next {
    display: none; }
  .fp-controlArrow.fp-prev {
    display: none; }

  .logo-wrapper {
    width: 200px; }

  .beer-tagline {
    font-size: 1.45rem;
    line-height: 1.25rem;
    overflow-wrap: normal; }

  .stockists-image-wrapper {
    padding: 20px 0; }

  .beer-slick h1 {
    font-size: 2rem; } }
@media (max-width: 992px) {
  .flex-wrapper {
    justify-content: center; }
    .flex-wrapper__coopers {
      flex: 1 0 90%;
      max-width: 90%; }
      .flex-wrapper__coopers .beer-slick {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 25px; }

  .carlsberg-wrapper .hero-text,
  .sapporo-wrapper .hero-text {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: none; }

  .sapporo-wrapper .beer-slick {
    flex-direction: column;
    align-items: flex-start; } }
@media (min-width: 992px) {
  .stats-wrapper {
    left: 75px; }

  .stats-box {
    width: 90px;
    height: 90px; }
    .stats-box .stats-value {
      font-size: 1.2rem;
      line-height: 1.5rem; }
    .stats-box .stats-label {
      font-size: 0.7rem;
      line-height: 0.7rem; }

  .beer-tagline {
    font-size: 2.75rem;
    line-height: 2.75rem; } }
@media (min-width: 768px) and (max-width: 992px) {
  .stats-wrapper {
    left: 25px; }

  .stats-box {
    width: 90px;
    height: 90px; }
    .stats-box .stats-value {
      font-size: 1.2rem;
      line-height: 1.5rem; }
    .stats-box .stats-label {
      font-size: 0.7rem;
      line-height: 0.7rem; }

  .beer-tagline {
    font-size: 2.75rem;
    line-height: 2.75rem; } }
@media (min-height: 0px) and (max-height: 900px) {
  .beer-info {
    display: none !important; }

  .beer-more {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
