<main class="col-wrapper">
    <div class="container">
        <div clas="row">
            <div class="title-wrapper title-wrapper--border-bottom">
                <h2>Terms</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="height:400px;">
                <h1></h1>
                <p>Premium Beverages is a 100% owned subsidiary of Coopers Brewery.
To view our privacy policy please <a href="https://coopers.com.au/privacy" target="_blank">click here</a></p>
            </div>
        </div>
    </div>
</main>