<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Premium Beverages<br/>
                <a href="{{baseUrl}}terms">Terms & Conditions</a>
                </p>
            </div>
        </div>
    </div>
</footer>