@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4jct7f');
  src:  url('fonts/icomoon.eot?4jct7f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4jct7f') format('truetype'),
    url('fonts/icomoon.woff?4jct7f') format('woff'),
    url('fonts/icomoon.svg?4jct7f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-downDots:before {
  content: "\ef16";
}
.icon-leftDots:before {
  content: "\ef17";
}
.icon-upDots:before {
  content: "\ef18";
}
.icon-rightDots:before {
  content: "\ef19";
}
.icon-wireframe:before {
  content: "\ef1a";
}
.icon-mouse-scroll:before {
  content: "\ef15";
}
.icon-HairlineDown:before {
  content: "\e903";
}
.icon-HairlineLeft:before {
  content: "\ef0f";
}
.icon-HairlineUp:before {
  content: "\ef10";
}
.icon-HairlineRight:before {
  content: "\ef11";
}
.icon-HairlineClose:before {
  content: "\ef12";
}
.icon-menuIcon:before {
  content: "\ef13";
}
.icon-youTube:before {
  content: "\ef09";
  color: #717070;
}
.icon-linkedin:before {
  content: "\ef0a";
  color: #717070;
}
.icon-instagram:before {
  content: "\ef0b";
  color: #717070;
}
.icon-google:before {
  content: "\ef0c";
  color: #717070;
}
.icon-facebook:before {
  content: "\ef0d";
  color: #717070;
}
.icon-twitter:before {
  content: "\ef0e";
  color: #717070;
}
.icon-unsureface:before {
  content: "\ef14";
  color: #717070;
}
.icon-acheava:before {
  content: "\e900";
  color: #e94c1e;
}
.icon-home:before {
  content: "\e901";
}
.icon-home2:before {
  content: "\e902";
}
.icon-home3:before {
  content: "\e904";
}
.icon-home4:before {
  content: "\e905";
}
.icon-home-lock:before {
  content: "\e906";
}
.icon-home-sleep:before {
  content: "\e907";
}
.icon-home-smart:before {
  content: "\e908";
}
.icon-home-user:before {
  content: "\e909";
}
.icon-faucet:before {
  content: "\e90a";
}
.icon-sink:before {
  content: "\e90b";
}
.icon-plunger:before {
  content: "\e90c";
}
.icon-bathtub:before {
  content: "\e90d";
}
.icon-rubber-duck:before {
  content: "\e90e";
}
.icon-towel:before {
  content: "\e90f";
}
.icon-toothbrush:before {
  content: "\e910";
}
.icon-razor:before {
  content: "\e911";
}
.icon-bed:before {
  content: "\e912";
}
.icon-bed-time:before {
  content: "\e913";
}
.icon-bed-check:before {
  content: "\e914";
}
.icon-bed-cross:before {
  content: "\e915";
}
.icon-couch:before {
  content: "\e916";
}
.icon-chair:before {
  content: "\e917";
}
.icon-office:before {
  content: "\e920";
}
.icon-city:before {
  content: "\e921";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-pencil2:before {
  content: "\e919";
}
.icon-pen:before {
  content: "\e91a";
}
.icon-pencil3:before {
  content: "\e91b";
}
.icon-eraser:before {
  content: "\e91c";
}
.icon-edit:before {
  content: "\e91d";
}
.icon-edit2:before {
  content: "\e91e";
}
.icon-notebook:before {
  content: "\e91f";
}
.icon-quill:before {
  content: "\e922";
}
.icon-edit3:before {
  content: "\e925";
}
.icon-blog:before {
  content: "\e926";
}
.icon-pen2:before {
  content: "\e923";
}
.icon-pen-plus:before {
  content: "\e924";
}
.icon-pen-minus:before {
  content: "\e927";
}
.icon-pen-drawing:before {
  content: "\e928";
}
.icon-bezier-curve:before {
  content: "\e92d";
}
.icon-bezier-curve2:before {
  content: "\e92e";
}
.icon-brush:before {
  content: "\e929";
}
.icon-brush2:before {
  content: "\e92a";
}
.icon-paint-roller:before {
  content: "\e92b";
}
.icon-spray:before {
  content: "\e92c";
}
.icon-spray-cross:before {
  content: "\e930";
}
.icon-spray-bug:before {
  content: "\e931";
}
.icon-spray2:before {
  content: "\e92f";
}
.icon-window:before {
  content: "\e933";
}
.icon-tape-measure:before {
  content: "\e934";
}
.icon-tape:before {
  content: "\e932";
}
.icon-tape-dispenser:before {
  content: "\e935";
}
.icon-stamp:before {
  content: "\e936";
}
.icon-texture:before {
  content: "\e937";
}
.icon-tile:before {
  content: "\e93b";
}
.icon-eyedropper:before {
  content: "\e93c";
}
.icon-palette:before {
  content: "\e938";
}
.icon-color-sampler:before {
  content: "\e939";
}
.icon-bucket:before {
  content: "\e93a";
}
.icon-sticker:before {
  content: "\e93d";
}
.icon-gradient:before {
  content: "\e93f";
}
.icon-magic-wand:before {
  content: "\e940";
}
.icon-magnet:before {
  content: "\e93e";
}
.icon-magnet-cross:before {
  content: "\e941";
}
.icon-magnet-grid:before {
  content: "\e942";
}
.icon-magnet-point:before {
  content: "\e943";
}
.icon-magnet-angle:before {
  content: "\e947";
}
.icon-magnet-scale:before {
  content: "\e948";
}
.icon-pencil-ruler:before {
  content: "\e944";
}
.icon-pencil-ruler2:before {
  content: "\e945";
}
.icon-compass:before {
  content: "\e946";
}
.icon-polygon:before {
  content: "\e949";
}
.icon-polygon2:before {
  content: "\e94d";
}
.icon-polygon3:before {
  content: "\e94f";
}
.icon-sword:before {
  content: "\e94a";
}
.icon-gun:before {
  content: "\e94b";
}
.icon-aim:before {
  content: "\e94c";
}
.icon-grenade:before {
  content: "\e951";
}
.icon-bomb:before {
  content: "\e94e";
}
.icon-explosion:before {
  content: "\e952";
}
.icon-nuclear:before {
  content: "\e950";
}
.icon-bottle:before {
  content: "\e953";
}
.icon-drop:before {
  content: "\e954";
}
.icon-droplet-plus:before {
  content: "\e955";
}
.icon-droplet-minus:before {
  content: "\e956";
}
.icon-droplet-cross:before {
  content: "\e957";
}
.icon-oil-price:before {
  content: "\e958";
}
.icon-coolant:before {
  content: "\e959";
}
.icon-snowflake:before {
  content: "\e95a";
}
.icon-snowflake2:before {
  content: "\e95b";
}
.icon-fire:before {
  content: "\e95c";
}
.icon-fire-forbidden:before {
  content: "\e95d";
}
.icon-fire-price:before {
  content: "\e95e";
}
.icon-fire-warning:before {
  content: "\e95f";
}
.icon-fire-hazard:before {
  content: "\e960";
}
.icon-fireworks:before {
  content: "\e961";
}
.icon-match-fire:before {
  content: "\e962";
}
.icon-hydrant:before {
  content: "\e963";
}
.icon-extinguisher:before {
  content: "\e965";
}
.icon-lighter:before {
  content: "\e967";
}
.icon-pocket-knife:before {
  content: "\e964";
}
.icon-tissue:before {
  content: "\e968";
}
.icon-toilet-paper:before {
  content: "\e966";
}
.icon-paper-towel:before {
  content: "\e96a";
}
.icon-poop:before {
  content: "\e96b";
}
.icon-umbrella:before {
  content: "\e969";
}
.icon-umbrella-rain:before {
  content: "\e96c";
}
.icon-droplets:before {
  content: "\e96d";
}
.icon-power:before {
  content: "\e96e";
}
.icon-volcano:before {
  content: "\e96f";
}
.icon-gas-mask:before {
  content: "\e970";
}
.icon-tornado:before {
  content: "\e971";
}
.icon-wind:before {
  content: "\e972";
}
.icon-fan:before {
  content: "\e973";
}
.icon-fan2:before {
  content: "\e974";
}
.icon-fan3:before {
  content: "\e975";
}
.icon-contrast:before {
  content: "\e976";
}
.icon-brightness:before {
  content: "\e977";
}
.icon-brightness-auto:before {
  content: "\e978";
}
.icon-brightness-auto2:before {
  content: "\e97a";
}
.icon-brightness-contrast:before {
  content: "\e97d";
}
.icon-sun:before {
  content: "\e979";
}
.icon-moon:before {
  content: "\e97e";
}
.icon-cloud:before {
  content: "\e97b";
}
.icon-cloud-rain:before {
  content: "\e97c";
}
.icon-cloud-rain2:before {
  content: "\e980";
}
.icon-cloud-rain3:before {
  content: "\e983";
}
.icon-cloud-snow:before {
  content: "\e97f";
}
.icon-cloud-snow2:before {
  content: "\e984";
}
.icon-sun-wind:before {
  content: "\e981";
}
.icon-cloud-wind:before {
  content: "\e982";
}
.icon-sun-fog:before {
  content: "\e991";
}
.icon-cloud-fog:before {
  content: "\e992";
}
.icon-cloud-sun:before {
  content: "\e985";
}
.icon-cloud-bolt:before {
  content: "\e986";
}
.icon-cloud-upload:before {
  content: "\e987";
}
.icon-cloud-download:before {
  content: "\e988";
}
.icon-cloud-sync:before {
  content: "\e989";
}
.icon-cloud-backup:before {
  content: "\e98a";
}
.icon-cloud-lock:before {
  content: "\e98b";
}
.icon-cloud-settings:before {
  content: "\e98c";
}
.icon-cloud-warning:before {
  content: "\e98d";
}
.icon-cloud-time:before {
  content: "\e98e";
}
.icon-cloud-check:before {
  content: "\e98f";
}
.icon-cloud-cross:before {
  content: "\e990";
}
.icon-cloud-connected:before {
  content: "\e993";
}
.icon-cloud-database:before {
  content: "\e994";
}
.icon-cloud-music:before {
  content: "\e995";
}
.icon-cloud-music2:before {
  content: "\e996";
}
.icon-cloud-message:before {
  content: "\e997";
}
.icon-branches:before {
  content: "\e998";
}
.icon-database:before {
  content: "\e999";
}
.icon-database-plus:before {
  content: "\e99a";
}
.icon-database-minus:before {
  content: "\e99b";
}
.icon-database-lock:before {
  content: "\e99c";
}
.icon-database-sync:before {
  content: "\e99d";
}
.icon-database-backup:before {
  content: "\e99e";
}
.icon-database-check:before {
  content: "\e99f";
}
.icon-database-time:before {
  content: "\e9a0";
}
.icon-database-upload:before {
  content: "\e9a1";
}
.icon-database-download:before {
  content: "\e9a2";
}
.icon-shield:before {
  content: "\e9a3";
}
.icon-shield-plus:before {
  content: "\e9a4";
}
.icon-shield-warning:before {
  content: "\e9a5";
}
.icon-shield-check:before {
  content: "\e9a6";
}
.icon-shield-cross:before {
  content: "\e9a7";
}
.icon-shield-sync:before {
  content: "\e9a8";
}
.icon-shield-info:before {
  content: "\e9aa";
}
.icon-shield-web:before {
  content: "\e9ab";
}
.icon-shield-user:before {
  content: "\e9a9";
}
.icon-shield-bolt:before {
  content: "\e9ad";
}
.icon-shield-droplet:before {
  content: "\e9ba";
}
.icon-shield-star:before {
  content: "\e9ac";
}
.icon-refresh-locked:before {
  content: "\e9bb";
}
.icon-lock:before {
  content: "\e9ae";
}
.icon-unlock:before {
  content: "\e9af";
}
.icon-unlock2:before {
  content: "\e9b0";
}
.icon-lock-check:before {
  content: "\e9b1";
}
.icon-lock-cross:before {
  content: "\e9b2";
}
.icon-lock-warning:before {
  content: "\e9b3";
}
.icon-lock2:before {
  content: "\e9b4";
}
.icon-unlock3:before {
  content: "\e9b5";
}
.icon-unlock4:before {
  content: "\e9b6";
}
.icon-lock-wireless:before {
  content: "\e9b7";
}
.icon-key:before {
  content: "\e9b8";
}
.icon-key2:before {
  content: "\e9b9";
}
.icon-key-hole:before {
  content: "\e9bc";
}
.icon-toggle-off:before {
  content: "\e9bd";
}
.icon-toggle-on:before {
  content: "\e9be";
}
.icon-toggle-on2:before {
  content: "\e9bf";
}
.icon-toggle-off2:before {
  content: "\e9c0";
}
.icon-switch-off:before {
  content: "\e9c2";
}
.icon-switch-on:before {
  content: "\e9c6";
}
.icon-equalizer:before {
  content: "\e9c1";
}
.icon-settings-icons:before {
  content: "\e9c8";
}
.icon-gear:before {
  content: "\e9c3";
}
.icon-gear2:before {
  content: "\e9c4";
}
.icon-gear3:before {
  content: "\e9c5";
}
.icon-wrench:before {
  content: "\e9ca";
}
.icon-wrench2:before {
  content: "\e9c7";
}
.icon-screwdriver:before {
  content: "\e9cd";
}
.icon-hammer:before {
  content: "\e9c9";
}
.icon-anvil:before {
  content: "\e9ce";
}
.icon-hammer-wrench:before {
  content: "\e9cb";
}
.icon-wrench-screwdriver:before {
  content: "\e9cc";
}
.icon-saw:before {
  content: "\e9cf";
}
.icon-axe:before {
  content: "\e9d0";
}
.icon-axe2:before {
  content: "\e9d3";
}
.icon-trowel:before {
  content: "\e9d4";
}
.icon-shovel:before {
  content: "\e9d1";
}
.icon-pickaxe:before {
  content: "\e9d2";
}
.icon-factory:before {
  content: "\e9d5";
}
.icon-robot-arm:before {
  content: "\e9d9";
}
.icon-conveyor:before {
  content: "\e9dc";
}
.icon-recycle:before {
  content: "\e9d6";
}
.icon-recycle2:before {
  content: "\e9d7";
}
.icon-trash:before {
  content: "\e9d8";
}
.icon-trash-cross:before {
  content: "\e9dd";
}
.icon-trash-full:before {
  content: "\e9da";
}
.icon-trash-warning:before {
  content: "\e9db";
}
.icon-trash-cross2:before {
  content: "\e9de";
}
.icon-disposal:before {
  content: "\e9df";
}
.icon-game:before {
  content: "\e9e0";
}
.icon-gamepad:before {
  content: "\e9e1";
}
.icon-dice:before {
  content: "\e9e2";
}
.icon-spades:before {
  content: "\e9e3";
}
.icon-spades2:before {
  content: "\e9e4";
}
.icon-diamonds:before {
  content: "\e9e5";
}
.icon-diamonds2:before {
  content: "\e9e6";
}
.icon-clubs:before {
  content: "\e9ef";
}
.icon-clubs2:before {
  content: "\e9f0";
}
.icon-heart:before {
  content: "\e9e7";
}
.icon-heart-shiny:before {
  content: "\e9e8";
}
.icon-star:before {
  content: "\e9e9";
}
.icon-star-half:before {
  content: "\e9ea";
}
.icon-star-empty:before {
  content: "\e9eb";
}
.icon-flag:before {
  content: "\e9ec";
}
.icon-flag2:before {
  content: "\e9ed";
}
.icon-flag3:before {
  content: "\e9ee";
}
.icon-mailbox-empty:before {
  content: "\e9fc";
}
.icon-mailbox-full:before {
  content: "\e9ff";
}
.icon-at-sign:before {
  content: "\e9f1";
}
.icon-envelope:before {
  content: "\e9f2";
}
.icon-envelope-open:before {
  content: "\e9f3";
}
.icon-envelope-open2:before {
  content: "\e9f4";
}
.icon-envelope-plus:before {
  content: "\e9f5";
}
.icon-envelope-warning:before {
  content: "\e9f6";
}
.icon-envelope-check:before {
  content: "\e9f7";
}
.icon-envelope-cross:before {
  content: "\e9f8";
}
.icon-paper-plane:before {
  content: "\e9f9";
}
.icon-paperclip:before {
  content: "\e9fa";
}
.icon-reply:before {
  content: "\e9fb";
}
.icon-reply-all:before {
  content: "\ea01";
}
.icon-drawer:before {
  content: "\e9fd";
}
.icon-drawer-download:before {
  content: "\e9fe";
}
.icon-drawer-upload:before {
  content: "\ea02";
}
.icon-drawer-full:before {
  content: "\ea00";
}
.icon-drawer-paper:before {
  content: "\ea03";
}
.icon-drawer-warning:before {
  content: "\ea04";
}
.icon-drawer-sync:before {
  content: "\ea07";
}
.icon-box:before {
  content: "\ea08";
}
.icon-drawer-full2:before {
  content: "\ea05";
}
.icon-drawer-paper2:before {
  content: "\ea06";
}
.icon-dresser:before {
  content: "\ea09";
}
.icon-dresser2:before {
  content: "\ea0b";
}
.icon-cabinet:before {
  content: "\ea0c";
}
.icon-eye:before {
  content: "\ea0a";
}
.icon-eye-cross:before {
  content: "\ea0d";
}
.icon-eye-plus:before {
  content: "\ea0e";
}
.icon-eye-minus:before {
  content: "\ea11";
}
.icon-eye-droplet:before {
  content: "\ea13";
}
.icon-eye2:before {
  content: "\ea0f";
}
.icon-binoculars:before {
  content: "\ea10";
}
.icon-binoculars2:before {
  content: "\ea16";
}
.icon-telescope:before {
  content: "\ea12";
}
.icon-server:before {
  content: "\ea17";
}
.icon-install:before {
  content: "\ea14";
}
.icon-upload:before {
  content: "\ea15";
}
.icon-hard-disk:before {
  content: "\ea18";
}
.icon-hard-disk-warning:before {
  content: "\ea19";
}
.icon-floppy-disk:before {
  content: "\ea1a";
}
.icon-disc:before {
  content: "\ea1b";
}
.icon-disc-audio:before {
  content: "\ea1c";
}
.icon-disc-play:before {
  content: "\ea1e";
}
.icon-cassette:before {
  content: "\ea1f";
}
.icon-printer:before {
  content: "\ea1d";
}
.icon-plotter:before {
  content: "\ea20";
}
.icon-printer-3d:before {
  content: "\ea25";
}
.icon-shredder:before {
  content: "\ea26";
}
.icon-file-empty:before {
  content: "\ea21";
}
.icon-file-text:before {
  content: "\ea22";
}
.icon-file-plus:before {
  content: "\ea23";
}
.icon-file-check:before {
  content: "\ea24";
}
.icon-file-lock:before {
  content: "\ea38";
}
.icon-file-user:before {
  content: "\ea39";
}
.icon-file-pencil:before {
  content: "\ea27";
}
.icon-files:before {
  content: "\ea28";
}
.icon-files2:before {
  content: "\ea29";
}
.icon-files-compare:before {
  content: "\ea2a";
}
.icon-folder:before {
  content: "\ea2b";
}
.icon-folder-history:before {
  content: "\ea2c";
}
.icon-folder-search:before {
  content: "\ea2d";
}
.icon-folder-home:before {
  content: "\ea2e";
}
.icon-folder-plus:before {
  content: "\ea2f";
}
.icon-folder-minus:before {
  content: "\ea30";
}
.icon-folder-zip:before {
  content: "\ea31";
}
.icon-folder-lock:before {
  content: "\ea32";
}
.icon-folder-download:before {
  content: "\ea33";
}
.icon-folder-upload:before {
  content: "\ea34";
}
.icon-folder-star:before {
  content: "\ea35";
}
.icon-folder-heart:before {
  content: "\ea36";
}
.icon-folder-user:before {
  content: "\ea37";
}
.icon-folder-share:before {
  content: "\ea3c";
}
.icon-folder-code:before {
  content: "\ea3d";
}
.icon-folder-picture:before {
  content: "\ea3a";
}
.icon-folder-camera:before {
  content: "\ea3b";
}
.icon-folder-music:before {
  content: "\ea3f";
}
.icon-folder-music2:before {
  content: "\ea40";
}
.icon-folder-film:before {
  content: "\ea3e";
}
.icon-folder-video:before {
  content: "\ea50";
}
.icon-scissors:before {
  content: "\ea51";
}
.icon-clipboard-empty:before {
  content: "\ea41";
}
.icon-clipboard-text:before {
  content: "\ea42";
}
.icon-paste:before {
  content: "\ea43";
}
.icon-paste2:before {
  content: "\ea44";
}
.icon-clipboard-check:before {
  content: "\ea45";
}
.icon-clipboard-down:before {
  content: "\ea46";
}
.icon-clipboard-left:before {
  content: "\ea47";
}
.icon-clipboard-warning:before {
  content: "\ea48";
}
.icon-clipboard-user:before {
  content: "\ea49";
}
.icon-clipboard-pencil:before {
  content: "\ea4a";
}
.icon-checklist:before {
  content: "\ea4b";
}
.icon-clipboard-list:before {
  content: "\ea4c";
}
.icon-clipboard-chart:before {
  content: "\ea4d";
}
.icon-register:before {
  content: "\ea4e";
}
.icon-enter:before {
  content: "\ea4f";
}
.icon-exit:before {
  content: "\ea53";
}
.icon-news:before {
  content: "\ea54";
}
.icon-read:before {
  content: "\ea52";
}
.icon-newsletter:before {
  content: "\ea55";
}
.icon-newsletters:before {
  content: "\ea5b";
}
.icon-paper:before {
  content: "\ea5c";
}
.icon-graduation:before {
  content: "\ea56";
}
.icon-certificate:before {
  content: "\ea57";
}
.icon-certificate2:before {
  content: "\ea58";
}
.icon-medal-empty:before {
  content: "\ea59";
}
.icon-medal-first:before {
  content: "\ea5a";
}
.icon-medal-second:before {
  content: "\ea5d";
}
.icon-medal-third:before {
  content: "\ea5f";
}
.icon-podium:before {
  content: "\ea60";
}
.icon-trophy:before {
  content: "\ea5e";
}
.icon-trophy-first:before {
  content: "\ea61";
}
.icon-trophy-second:before {
  content: "\ea62";
}
.icon-trophy-third:before {
  content: "\ea63";
}
.icon-music-note:before {
  content: "\ea64";
}
.icon-music-note2:before {
  content: "\ea65";
}
.icon-music-note-plus:before {
  content: "\ea66";
}
.icon-music-note3:before {
  content: "\ea67";
}
.icon-music-note4:before {
  content: "\ea68";
}
.icon-music-note5:before {
  content: "\ea69";
}
.icon-music-note6:before {
  content: "\ea6a";
}
.icon-playlist:before {
  content: "\ea6b";
}
.icon-list-heart:before {
  content: "\ea6c";
}
.icon-cable:before {
  content: "\ea6d";
}
.icon-turntable:before {
  content: "\ea6e";
}
.icon-piano:before {
  content: "\ea6f";
}
.icon-guitar:before {
  content: "\ea70";
}
.icon-guitar-electric:before {
  content: "\ea71";
}
.icon-guitar-pick:before {
  content: "\ea72";
}
.icon-metronome:before {
  content: "\ea73";
}
.icon-tuning-fork:before {
  content: "\ea74";
}
.icon-album:before {
  content: "\ea75";
}
.icon-playlist2:before {
  content: "\ea76";
}
.icon-photo-album:before {
  content: "\ea77";
}
.icon-shuffle:before {
  content: "\ea78";
}
.icon-repeat:before {
  content: "\ea79";
}
.icon-repeat-infinite:before {
  content: "\ea7a";
}
.icon-repeat-once:before {
  content: "\ea7b";
}
.icon-earphones:before {
  content: "\ea7c";
}
.icon-headphones:before {
  content: "\ea7d";
}
.icon-headset:before {
  content: "\ea7e";
}
.icon-headphones-warning:before {
  content: "\ea7f";
}
.icon-headphones-cross:before {
  content: "\ea81";
}
.icon-loudspeaker:before {
  content: "\ea82";
}
.icon-equalizer2:before {
  content: "\ea80";
}
.icon-theater:before {
  content: "\ea87";
}
.icon-3d-glasses:before {
  content: "\ea88";
}
.icon-ticket:before {
  content: "\ea83";
}
.icon-megaphone:before {
  content: "\ea84";
}
.icon-clapboard:before {
  content: "\ea85";
}
.icon-clapboard-play:before {
  content: "\ea86";
}
.icon-reel:before {
  content: "\ea8a";
}
.icon-film:before {
  content: "\ea8b";
}
.icon-film-play:before {
  content: "\ea89";
}
.icon-film-play2:before {
  content: "\ea8d";
}
.icon-projector-screen-collapsed:before {
  content: "\ea8e";
}
.icon-projector-screen-play:before {
  content: "\ea8c";
}
.icon-projector-screen-chart:before {
  content: "\ea8f";
}
.icon-surveillance:before {
  content: "\ea90";
}
.icon-surveillance2:before {
  content: "\ea91";
}
.icon-camera:before {
  content: "\ea92";
}
.icon-camera-cross:before {
  content: "\ea93";
}
.icon-camera-play:before {
  content: "\ea94";
}
.icon-camera-pause:before {
  content: "\ea95";
}
.icon-camera-stop:before {
  content: "\ea96";
}
.icon-camera-record:before {
  content: "\ea99";
}
.icon-camera-time:before {
  content: "\ea9b";
}
.icon-camera2:before {
  content: "\ea97";
}
.icon-camera3:before {
  content: "\ea98";
}
.icon-camera-time2:before {
  content: "\ea9c";
}
.icon-camera-flip:before {
  content: "\ea9a";
}
.icon-camera-stabilization:before {
  content: "\ea9d";
}
.icon-panorama:before {
  content: "\ea9f";
}
.icon-shutter:before {
  content: "\eaa0";
}
.icon-face-detection:before {
  content: "\ea9e";
}
.icon-convex:before {
  content: "\eaa4";
}
.icon-concave:before {
  content: "\eaa8";
}
.icon-picture:before {
  content: "\eaa1";
}
.icon-picture2:before {
  content: "\eaa2";
}
.icon-book:before {
  content: "\eaa3";
}
.icon-book-audio:before {
  content: "\eaa9";
}
.icon-book2:before {
  content: "\eaa5";
}
.icon-book3:before {
  content: "\eaa6";
}
.icon-book-bookmarked:before {
  content: "\eaa7";
}
.icon-book-bookmarked2:before {
  content: "\eaaa";
}
.icon-bookmark:before {
  content: "\eaab";
}
.icon-bookmark-move:before {
  content: "\eaac";
}
.icon-bookmark-plus:before {
  content: "\eaad";
}
.icon-bookmark-minus:before {
  content: "\eaae";
}
.icon-label:before {
  content: "\eaaf";
}
.icon-books:before {
  content: "\eab0";
}
.icon-library:before {
  content: "\eab1";
}
.icon-contacts:before {
  content: "\eab2";
}
.icon-business-card:before {
  content: "\eab3";
}
.icon-portrait:before {
  content: "\eac0";
}
.icon-portrait2:before {
  content: "\eac7";
}
.icon-user:before {
  content: "\eab4";
}
.icon-user-plus:before {
  content: "\eab5";
}
.icon-user-minus:before {
  content: "\eab6";
}
.icon-user-heart:before {
  content: "\eab7";
}
.icon-user-lock:before {
  content: "\eab8";
}
.icon-user-question:before {
  content: "\eab9";
}
.icon-user-bubble:before {
  content: "\eaba";
}
.icon-user-check:before {
  content: "\eabb";
}
.icon-user-cross:before {
  content: "\eabc";
}
.icon-user-edit:before {
  content: "\eabd";
}
.icon-user-gear:before {
  content: "\eabe";
}
.icon-user-info:before {
  content: "\eabf";
}
.icon-user-24:before {
  content: "\eac8";
}
.icon-support:before {
  content: "\eac1";
}
.icon-group:before {
  content: "\eac2";
}
.icon-group-plus:before {
  content: "\eac3";
}
.icon-group-minus:before {
  content: "\eac4";
}
.icon-group-edit:before {
  content: "\eac5";
}
.icon-group-circle:before {
  content: "\eac6";
}
.icon-head:before {
  content: "\eac9";
}
.icon-head-hearing:before {
  content: "\eaca";
}
.icon-head-speech:before {
  content: "\eacb";
}
.icon-head-question:before {
  content: "\eacc";
}
.icon-head-money:before {
  content: "\eacd";
}
.icon-head-processing:before {
  content: "\eace";
}
.icon-head-bubble:before {
  content: "\eacf";
}
.icon-portrait-male:before {
  content: "\ead0";
}
.icon-portrait-female:before {
  content: "\ead1";
}
.icon-baby:before {
  content: "\ead2";
}
.icon-baby-crying:before {
  content: "\ead3";
}
.icon-baby-smile:before {
  content: "\ead4";
}
.icon-baby-tongue:before {
  content: "\ead5";
}
.icon-baby2:before {
  content: "\ead6";
}
.icon-baby-crying2:before {
  content: "\ead7";
}
.icon-baby3:before {
  content: "\ead8";
}
.icon-baby-tongue2:before {
  content: "\ead9";
}
.icon-pacifier:before {
  content: "\eada";
}
.icon-baby-bottle:before {
  content: "\eadb";
}
.icon-stroller:before {
  content: "\eadc";
}
.icon-standing:before {
  content: "\eadd";
}
.icon-walking:before {
  content: "\eae0";
}
.icon-waving:before {
  content: "\eae2";
}
.icon-victory:before {
  content: "\eade";
}
.icon-running:before {
  content: "\eadf";
}
.icon-jumping:before {
  content: "\eae3";
}
.icon-traveling:before {
  content: "\eae1";
}
.icon-stairs:before {
  content: "\eae4";
}
.icon-escalator-up:before {
  content: "\eae5";
}
.icon-escalator-down:before {
  content: "\eae6";
}
.icon-depressed:before {
  content: "\eae7";
}
.icon-male:before {
  content: "\eae8";
}
.icon-female:before {
  content: "\eae9";
}
.icon-gender:before {
  content: "\eaea";
}
.icon-gender2:before {
  content: "\eaec";
}
.icon-bathroom-scale:before {
  content: "\eaed";
}
.icon-height:before {
  content: "\eaeb";
}
.icon-button:before {
  content: "\eaee";
}
.icon-button2:before {
  content: "\eaef";
}
.icon-suit:before {
  content: "\eaf0";
}
.icon-bow-tie:before {
  content: "\eaf1";
}
.icon-necktie:before {
  content: "\eaf2";
}
.icon-sock:before {
  content: "\eaf3";
}
.icon-sock-dirty:before {
  content: "\eaf4";
}
.icon-shoe:before {
  content: "\eaf5";
}
.icon-high-heels:before {
  content: "\eaf6";
}
.icon-lips:before {
  content: "\eaf7";
}
.icon-lipstick:before {
  content: "\eaf8";
}
.icon-hairdryer:before {
  content: "\eaf9";
}
.icon-hand-soap:before {
  content: "\eafa";
}
.icon-ring:before {
  content: "\eafb";
}
.icon-mirror:before {
  content: "\eafc";
}
.icon-bowler-hat:before {
  content: "\eafd";
}
.icon-top-hat:before {
  content: "\eafe";
}
.icon-pants:before {
  content: "\eaff";
}
.icon-shorts:before {
  content: "\eb00";
}
.icon-underwear:before {
  content: "\eb01";
}
.icon-underwear2:before {
  content: "\eb02";
}
.icon-bra:before {
  content: "\eb03";
}
.icon-shirt:before {
  content: "\eb04";
}
.icon-gown:before {
  content: "\eb07";
}
.icon-hoodie:before {
  content: "\eb08";
}
.icon-hanger:before {
  content: "\eb05";
}
.icon-hanger2:before {
  content: "\eb06";
}
.icon-washing-machine:before {
  content: "\eb09";
}
.icon-laundry-time:before {
  content: "\eb0a";
}
.icon-machine-wash:before {
  content: "\eb0b";
}
.icon-machine-wash-cold:before {
  content: "\eb0c";
}
.icon-machine-wash-warm:before {
  content: "\eb0d";
}
.icon-machine-wash-hot:before {
  content: "\eb0e";
}
.icon-iron:before {
  content: "\eb0f";
}
.icon-iron-low:before {
  content: "\eb10";
}
.icon-iron-medium:before {
  content: "\eb11";
}
.icon-iron-high:before {
  content: "\eb12";
}
.icon-iron-no:before {
  content: "\eb13";
}
.icon-iron-steam:before {
  content: "\eb14";
}
.icon-iron-steam-no:before {
  content: "\eb15";
}
.icon-store:before {
  content: "\eb16";
}
.icon-store-24:before {
  content: "\eb17";
}
.icon-barcode:before {
  content: "\eb18";
}
.icon-barcode2:before {
  content: "\eb19";
}
.icon-barcode3:before {
  content: "\eb1a";
}
.icon-qrcode:before {
  content: "\eb1b";
}
.icon-box2:before {
  content: "\eb1c";
}
.icon-box-check:before {
  content: "\eb1d";
}
.icon-box-cross:before {
  content: "\eb1e";
}
.icon-box3:before {
  content: "\eb1f";
}
.icon-box-check2:before {
  content: "\eb28";
}
.icon-box-cross2:before {
  content: "\eb29";
}
.icon-basket:before {
  content: "\eb20";
}
.icon-bag:before {
  content: "\eb21";
}
.icon-bag-full:before {
  content: "\eb22";
}
.icon-bag-plus:before {
  content: "\eb23";
}
.icon-bag-minus:before {
  content: "\eb24";
}
.icon-bag-checkout:before {
  content: "\eb25";
}
.icon-bag-check:before {
  content: "\eb26";
}
.icon-bag-cross:before {
  content: "\eb27";
}
.icon-cart:before {
  content: "\eb2a";
}
.icon-cart-full:before {
  content: "\eb2b";
}
.icon-cart-plus:before {
  content: "\eb2c";
}
.icon-cart-minus:before {
  content: "\eb2d";
}
.icon-cart-load:before {
  content: "\eb2e";
}
.icon-cart-unload:before {
  content: "\eb2f";
}
.icon-cart-manage:before {
  content: "\eb30";
}
.icon-cart-checkout:before {
  content: "\eb31";
}
.icon-cart-check:before {
  content: "\eb32";
}
.icon-cart-cross:before {
  content: "\eb33";
}
.icon-tag:before {
  content: "\eb34";
}
.icon-tag2:before {
  content: "\eb3d";
}
.icon-receipt:before {
  content: "\eb3e";
}
.icon-wallet:before {
  content: "\eb35";
}
.icon-debit-card:before {
  content: "\eb36";
}
.icon-piggy-bank:before {
  content: "\eb37";
}
.icon-money-pouch:before {
  content: "\eb38";
}
.icon-money-pouch-euro:before {
  content: "\eb39";
}
.icon-money-pouch-pound:before {
  content: "\eb3a";
}
.icon-money-pouch-yen:before {
  content: "\eb3b";
}
.icon-money-pouch-ruble:before {
  content: "\eb3c";
}
.icon-bill:before {
  content: "\eb3f";
}
.icon-bill2:before {
  content: "\eb40";
}
.icon-bill-dollar:before {
  content: "\eb41";
}
.icon-bill-euro:before {
  content: "\eb42";
}
.icon-bill-pound:before {
  content: "\eb43";
}
.icon-bill-yen:before {
  content: "\eb44";
}
.icon-bill-ruble:before {
  content: "\eb45";
}
.icon-bill-stack:before {
  content: "\eb46";
}
.icon-bill-stack-dollar:before {
  content: "\eb47";
}
.icon-bill-stack-euro:before {
  content: "\eb48";
}
.icon-bill-stack-pound:before {
  content: "\eb49";
}
.icon-bill-stack-yen:before {
  content: "\eb4a";
}
.icon-bill-stack-ruble:before {
  content: "\eb4c";
}
.icon-calculator:before {
  content: "\eb4e";
}
.icon-calculator2:before {
  content: "\eb4b";
}
.icon-safe:before {
  content: "\eb4f";
}
.icon-telephone:before {
  content: "\eb4d";
}
.icon-phone-end:before {
  content: "\eb50";
}
.icon-missed-incoming:before {
  content: "\eb51";
}
.icon-missed-outgoing:before {
  content: "\eb54";
}
.icon-phone-lock:before {
  content: "\eb55";
}
.icon-phone-loudspeaker:before {
  content: "\eb52";
}
.icon-phone-bubble:before {
  content: "\eb53";
}
.icon-phone-pause:before {
  content: "\eb56";
}
.icon-phone-outgoing:before {
  content: "\eb57";
}
.icon-phone-incoming:before {
  content: "\eb58";
}
.icon-phone-in-out:before {
  content: "\eb5a";
}
.icon-phone-cross:before {
  content: "\eb5b";
}
.icon-phone-user:before {
  content: "\eb59";
}
.icon-phone-time:before {
  content: "\eb5c";
}
.icon-phone-24:before {
  content: "\eb5d";
}
.icon-phone-sip:before {
  content: "\eb5e";
}
.icon-phone-plus:before {
  content: "\eb5f";
}
.icon-phone-minus:before {
  content: "\eb60";
}
.icon-voicemail:before {
  content: "\eb61";
}
.icon-telephone2:before {
  content: "\eb63";
}
.icon-telephone3:before {
  content: "\eb6e";
}
.icon-pushpin:before {
  content: "\eb62";
}
.icon-pushpin-cross:before {
  content: "\eb71";
}
.icon-pushpin2:before {
  content: "\eb64";
}
.icon-map-marker:before {
  content: "\eb65";
}
.icon-map-marker-user:before {
  content: "\eb66";
}
.icon-map-marker-down:before {
  content: "\eb67";
}
.icon-map-marker-plus:before {
  content: "\eb68";
}
.icon-map-marker-minus:before {
  content: "\eb69";
}
.icon-map-marker-check:before {
  content: "\eb6a";
}
.icon-map-marker-cross:before {
  content: "\eb6b";
}
.icon-map-marker-edit:before {
  content: "\eb6c";
}
.icon-helm:before {
  content: "\eb6d";
}
.icon-compass2:before {
  content: "\eb84";
}
.icon-map:before {
  content: "\eb6f";
}
.icon-map2:before {
  content: "\eb70";
}
.icon-compass3:before {
  content: "\eb86";
}
.icon-road-sign:before {
  content: "\eb72";
}
.icon-calendar:before {
  content: "\eb73";
}
.icon-calendar2:before {
  content: "\eb74";
}
.icon-calendar3:before {
  content: "\eb75";
}
.icon-calendar4:before {
  content: "\eb76";
}
.icon-calendar-time:before {
  content: "\eb77";
}
.icon-calendar-check:before {
  content: "\eb78";
}
.icon-calendar-cross:before {
  content: "\eb79";
}
.icon-calendar-plus:before {
  content: "\eb7a";
}
.icon-calendar-minus:before {
  content: "\eb7b";
}
.icon-calendar-user:before {
  content: "\eb7c";
}
.icon-mouse:before {
  content: "\eb7d";
}
.icon-mouse-wireless:before {
  content: "\eb7e";
}
.icon-mouse-click-left:before {
  content: "\eb7f";
}
.icon-mouse-click-right:before {
  content: "\eb80";
}
.icon-mouse-click-both:before {
  content: "\eb81";
}
.icon-mouse-network:before {
  content: "\eb82";
}
.icon-mouse-check:before {
  content: "\eb83";
}
.icon-mouse-cross:before {
  content: "\eb87";
}
.icon-keyboard:before {
  content: "\eb85";
}
.icon-keyboard-wireless:before {
  content: "\eb88";
}
.icon-keyboard-show:before {
  content: "\eb89";
}
.icon-keyboard-hide:before {
  content: "\eb8a";
}
.icon-keyboard-key:before {
  content: "\eb8b";
}
.icon-keyboard-key2:before {
  content: "\eb8c";
}
.icon-keyboard-key-down:before {
  content: "\eb91";
}
.icon-keyboard-key-up:before {
  content: "\eb92";
}
.icon-delete:before {
  content: "\eb8d";
}
.icon-spell-check:before {
  content: "\eb8e";
}
.icon-circle-extract:before {
  content: "\eb8f";
}
.icon-circle-insert:before {
  content: "\eb90";
}
.icon-widescreen:before {
  content: "\eb93";
}
.icon-widescreen-play:before {
  content: "\eb95";
}
.icon-widescreen-user:before {
  content: "\eb96";
}
.icon-signal:before {
  content: "\eb94";
}
.icon-signal-lock:before {
  content: "\eb97";
}
.icon-signal-3of4:before {
  content: "\eb98";
}
.icon-signal-2of4:before {
  content: "\eb99";
}
.icon-signal-1of4:before {
  content: "\eb9a";
}
.icon-signal-error:before {
  content: "\eb9b";
}
.icon-sim:before {
  content: "\eb9c";
}
.icon-microsd:before {
  content: "\eb9f";
}
.icon-microsd-plus:before {
  content: "\eba0";
}
.icon-usb-drive:before {
  content: "\eb9d";
}
.icon-usb:before {
  content: "\eb9e";
}
.icon-usb-question:before {
  content: "\eba1";
}
.icon-usb-warning:before {
  content: "\eba2";
}
.icon-usb-check:before {
  content: "\eba5";
}
.icon-usb-cross:before {
  content: "\eba7";
}
.icon-usb-plus:before {
  content: "\eba3";
}
.icon-usb-minus:before {
  content: "\eba4";
}
.icon-smartphone:before {
  content: "\ebaa";
}
.icon-smartphone2:before {
  content: "\eba6";
}
.icon-smartphone-vibration:before {
  content: "\ebab";
}
.icon-smartphone-speakers:before {
  content: "\eba8";
}
.icon-smartphone-pencil:before {
  content: "\eba9";
}
.icon-smartphone-ringtone:before {
  content: "\ebac";
}
.icon-smartphone-silent:before {
  content: "\ebad";
}
.icon-smartphone-time:before {
  content: "\ebae";
}
.icon-smartphone-sync:before {
  content: "\ebb3";
}
.icon-smartphone-code:before {
  content: "\ebc3";
}
.icon-smartphone-backup:before {
  content: "\ebaf";
}
.icon-smartphone-info:before {
  content: "\ebb0";
}
.icon-smartphone-lock:before {
  content: "\ebb1";
}
.icon-smartphone-check:before {
  content: "\ebb2";
}
.icon-smartphone-warning:before {
  content: "\ebc6";
}
.icon-smartphone-text:before {
  content: "\ebb4";
}
.icon-smartphone-user:before {
  content: "\ebb5";
}
.icon-smartphone-rotate:before {
  content: "\ebb6";
}
.icon-smartphone-transfer:before {
  content: "\ebb7";
}
.icon-tablet:before {
  content: "\ebb8";
}
.icon-tablet2:before {
  content: "\ebb9";
}
.icon-laptop:before {
  content: "\ebba";
}
.icon-laptop-cross:before {
  content: "\ebbb";
}
.icon-laptop-warning:before {
  content: "\ebbc";
}
.icon-laptop-play:before {
  content: "\ebbd";
}
.icon-laptop-code:before {
  content: "\ebbe";
}
.icon-laptop-education:before {
  content: "\ebbf";
}
.icon-laptop-user:before {
  content: "\ebc0";
}
.icon-laptop-share:before {
  content: "\ebc1";
}
.icon-laptop-phone:before {
  content: "\ebc2";
}
.icon-laptop-phone-sync:before {
  content: "\ebc7";
}
.icon-webcam:before {
  content: "\ebc4";
}
.icon-monitor:before {
  content: "\ebc5";
}
.icon-monitor-play:before {
  content: "\ebc8";
}
.icon-monitor-share:before {
  content: "\ebcb";
}
.icon-thin:before {
  content: "\ebcc";
}
.icon-external:before {
  content: "\ebc9";
}
.icon-external2:before {
  content: "\ebca";
}
.icon-window2:before {
  content: "\ebcd";
}
.icon-window-tab:before {
  content: "\ebd0";
}
.icon-window-tab-plus:before {
  content: "\ebd5";
}
.icon-tv:before {
  content: "\ebce";
}
.icon-radio:before {
  content: "\ebcf";
}
.icon-remote-control:before {
  content: "\ebd6";
}
.icon-remote-control2:before {
  content: "\ebd1";
}
.icon-power-switch:before {
  content: "\ebd2";
}
.icon-power-switch2:before {
  content: "\ebd3";
}
.icon-power2:before {
  content: "\ebd4";
}
.icon-power-auto:before {
  content: "\ebd7";
}
.icon-power-cross:before {
  content: "\ebd8";
}
.icon-power-warning:before {
  content: "\ebe0";
}
.icon-power-dollar:before {
  content: "\ebe1";
}
.icon-lamp:before {
  content: "\ebd9";
}
.icon-lamp-bright:before {
  content: "\ebda";
}
.icon-lamp-check:before {
  content: "\ebdb";
}
.icon-lamp-plus:before {
  content: "\ebdc";
}
.icon-lamp-minus:before {
  content: "\ebdd";
}
.icon-lamp-time:before {
  content: "\ebde";
}
.icon-lamp-gear:before {
  content: "\ebdf";
}
.icon-flashlight:before {
  content: "\ebe3";
}
.icon-flashlight-bright:before {
  content: "\ebe4";
}
.icon-floor-lamp:before {
  content: "\ebe2";
}
.icon-reflection:before {
  content: "\ebe5";
}
.icon-solar-power:before {
  content: "\ebe6";
}
.icon-solar-power2:before {
  content: "\ebe8";
}
.icon-solar-panel:before {
  content: "\ebea";
}
.icon-plug:before {
  content: "\ebe7";
}
.icon-plug-cross:before {
  content: "\ebeb";
}
.icon-socket:before {
  content: "\ebe9";
}
.icon-battery-bolt:before {
  content: "\ebec";
}
.icon-battery-plug:before {
  content: "\ebed";
}
.icon-battery-droplet:before {
  content: "\ebee";
}
.icon-battery-plus:before {
  content: "\ebef";
}
.icon-battery-question:before {
  content: "\ebf0";
}
.icon-battery-warning:before {
  content: "\ebf1";
}
.icon-battery-check:before {
  content: "\ebf3";
}
.icon-battery-cross:before {
  content: "\ebf5";
}
.icon-battery-empty:before {
  content: "\ebf2";
}
.icon-battery-10:before {
  content: "\ebf8";
}
.icon-battery-25:before {
  content: "\ebf4";
}
.icon-battery-40:before {
  content: "\ebf9";
}
.icon-battery-50:before {
  content: "\ebf6";
}
.icon-battery-60:before {
  content: "\ebf7";
}
.icon-battery-75:before {
  content: "\ebfa";
}
.icon-battery-90:before {
  content: "\ebfb";
}
.icon-battery-100:before {
  content: "\ebfc";
}
.icon-battery-plug2:before {
  content: "\ebfd";
}
.icon-battery-plug-10:before {
  content: "\ebfe";
}
.icon-battery-plug-25:before {
  content: "\ebff";
}
.icon-battery-plug-40:before {
  content: "\ec00";
}
.icon-battery-plug-50:before {
  content: "\ec01";
}
.icon-battery-plug-60:before {
  content: "\ec02";
}
.icon-battery-plug-75:before {
  content: "\ec03";
}
.icon-battery-plug-90:before {
  content: "\ec04";
}
.icon-battery-plug-100:before {
  content: "\ec05";
}
.icon-led:before {
  content: "\ec06";
}
.icon-led-bright:before {
  content: "\ec07";
}
.icon-resistor:before {
  content: "\ec08";
}
.icon-capacitor:before {
  content: "\ec09";
}
.icon-ic:before {
  content: "\ec0a";
}
.icon-cpu:before {
  content: "\ec0b";
}
.icon-cpu-x64:before {
  content: "\ec1b";
}
.icon-cpu-x86:before {
  content: "\ec1c";
}
.icon-bubble-text:before {
  content: "\ec0c";
}
.icon-bubble-check:before {
  content: "\ec0d";
}
.icon-bubble-cross:before {
  content: "\ec0e";
}
.icon-bubble-time:before {
  content: "\ec0f";
}
.icon-bubbles:before {
  content: "\ec10";
}
.icon-bubble:before {
  content: "\ec11";
}
.icon-bubble-shiny:before {
  content: "\ec12";
}
.icon-bubbles2:before {
  content: "\ec13";
}
.icon-bubble-dots:before {
  content: "\ec14";
}
.icon-bubble-paperclip:before {
  content: "\ec15";
}
.icon-bubble-exclamation:before {
  content: "\ec16";
}
.icon-bubble-question:before {
  content: "\ec17";
}
.icon-bubble-text2:before {
  content: "\ec18";
}
.icon-bubble-writing:before {
  content: "\ec19";
}
.icon-bubble-picture:before {
  content: "\ec1a";
}
.icon-bubble-music:before {
  content: "\ec1d";
}
.icon-bubble-music2:before {
  content: "\ec1f";
}
.icon-bubble-video:before {
  content: "\ec20";
}
.icon-bubble-friend:before {
  content: "\ec1e";
}
.icon-bubble-friend-plus:before {
  content: "\ec21";
}
.icon-bubble-quote:before {
  content: "\ec22";
}
.icon-bubble-heart:before {
  content: "\ec23";
}
.icon-bubble-emoji:before {
  content: "\ec24";
}
.icon-bubble-poker-face:before {
  content: "\ec25";
}
.icon-bubble-sad:before {
  content: "\ec26";
}
.icon-bubble-mad:before {
  content: "\ec27";
}
.icon-bubble-shocked:before {
  content: "\ec28";
}
.icon-quote-left:before {
  content: "\ec29";
}
.icon-quote-right:before {
  content: "\ec2a";
}
.icon-dna:before {
  content: "\ec2b";
}
.icon-dna-code:before {
  content: "\ec2c";
}
.icon-lungs:before {
  content: "\ec32";
}
.icon-inhaler:before {
  content: "\ec33";
}
.icon-heart2:before {
  content: "\ec2d";
}
.icon-heart3:before {
  content: "\ec2e";
}
.icon-heart-plus:before {
  content: "\ec2f";
}
.icon-heart-time:before {
  content: "\ec30";
}
.icon-heart-pulse:before {
  content: "\ec31";
}
.icon-stethoscope:before {
  content: "\ec34";
}
.icon-pulse:before {
  content: "\ec35";
}
.icon-syringe:before {
  content: "\ec38";
}
.icon-bottle2:before {
  content: "\ec3b";
}
.icon-pills:before {
  content: "\ec36";
}
.icon-first-aid-kit:before {
  content: "\ec37";
}
.icon-lifebuoy:before {
  content: "\ec3c";
}
.icon-bandage:before {
  content: "\ec39";
}
.icon-bandages:before {
  content: "\ec3a";
}
.icon-thermometer:before {
  content: "\ec3d";
}
.icon-thermometer-plus:before {
  content: "\ec3e";
}
.icon-thermometer-minus:before {
  content: "\ec3f";
}
.icon-thermometer-sun:before {
  content: "\ec40";
}
.icon-thermometer-snow:before {
  content: "\ec41";
}
.icon-thermometer-gear:before {
  content: "\ec42";
}
.icon-microscope:before {
  content: "\ec43";
}
.icon-atom:before {
  content: "\ec44";
}
.icon-test-tube:before {
  content: "\ec45";
}
.icon-beaker:before {
  content: "\ec46";
}
.icon-rb-flask:before {
  content: "\ec48";
}
.icon-rb-flask-warning:before {
  content: "\ec4a";
}
.icon-flask:before {
  content: "\ec47";
}
.icon-flask-warning:before {
  content: "\ec4d";
}
.icon-skull:before {
  content: "\ec49";
}
.icon-bone:before {
  content: "\ec4e";
}
.icon-chart-upward:before {
  content: "\ec4b";
}
.icon-chart-downward:before {
  content: "\ec4c";
}
.icon-scatterplot:before {
  content: "\ec4f";
}
.icon-chart:before {
  content: "\ec52";
}
.icon-pie-chart:before {
  content: "\ec54";
}
.icon-cake:before {
  content: "\ec50";
}
.icon-gift:before {
  content: "\ec51";
}
.icon-balloon:before {
  content: "\ec55";
}
.icon-flower:before {
  content: "\ec53";
}
.icon-flower2:before {
  content: "\ec5a";
}
.icon-flower3:before {
  content: "\ec5b";
}
.icon-rank:before {
  content: "\ec56";
}
.icon-rank2:before {
  content: "\ec57";
}
.icon-rank3:before {
  content: "\ec58";
}
.icon-crown:before {
  content: "\ec59";
}
.icon-emerald:before {
  content: "\ec5c";
}
.icon-ruby:before {
  content: "\ec5e";
}
.icon-diamond:before {
  content: "\ec5f";
}
.icon-diamond2:before {
  content: "\ec5d";
}
.icon-tea-bag:before {
  content: "\ec61";
}
.icon-teacup:before {
  content: "\ec64";
}
.icon-glass:before {
  content: "\ec60";
}
.icon-glass-broken:before {
  content: "\ec65";
}
.icon-glass-cocktail:before {
  content: "\ec62";
}
.icon-tankard:before {
  content: "\ec63";
}
.icon-glass2:before {
  content: "\ec66";
}
.icon-fork:before {
  content: "\ec67";
}
.icon-knife:before {
  content: "\ec69";
}
.icon-spoon:before {
  content: "\ec6b";
}
.icon-fork-knife:before {
  content: "\ec68";
}
.icon-fork-spoon:before {
  content: "\ec6c";
}
.icon-fork-knife2:before {
  content: "\ec6a";
}
.icon-fork-spoon2:before {
  content: "\ec6d";
}
.icon-table:before {
  content: "\ec6e";
}
.icon-chef:before {
  content: "\ec6f";
}
.icon-pot:before {
  content: "\ec70";
}
.icon-pot-time:before {
  content: "\ec71";
}
.icon-pot-hot:before {
  content: "\ec72";
}
.icon-microwave:before {
  content: "\ec73";
}
.icon-refrigerator:before {
  content: "\ec74";
}
.icon-kitchen-scale:before {
  content: "\ec75";
}
.icon-weight:before {
  content: "\ec76";
}
.icon-weight-1kg:before {
  content: "\ec77";
}
.icon-weight-1lb:before {
  content: "\ec78";
}
.icon-weight-1oz:before {
  content: "\ec79";
}
.icon-mixer:before {
  content: "\ec7a";
}
.icon-rolling-pin:before {
  content: "\ec7b";
}
.icon-egg:before {
  content: "\ec7c";
}
.icon-egg-broken:before {
  content: "\ec87";
}
.icon-platter:before {
  content: "\ec88";
}
.icon-pig:before {
  content: "\ec7d";
}
.icon-steak:before {
  content: "\ec7e";
}
.icon-fries:before {
  content: "\ec7f";
}
.icon-burger:before {
  content: "\ec80";
}
.icon-hot-dog:before {
  content: "\ec81";
}
.icon-pizza:before {
  content: "\ec82";
}
.icon-chicken-leg:before {
  content: "\ec83";
}
.icon-fish:before {
  content: "\ec84";
}
.icon-carrot:before {
  content: "\ec85";
}
.icon-cheese:before {
  content: "\ec86";
}
.icon-fried-egg:before {
  content: "\ec89";
}
.icon-milk-bottle:before {
  content: "\ec8a";
}
.icon-pitcher:before {
  content: "\ec8c";
}
.icon-toaster:before {
  content: "\ec8f";
}
.icon-toast:before {
  content: "\ec8b";
}
.icon-ice-cream-bar:before {
  content: "\ec90";
}
.icon-ice-cream:before {
  content: "\ec8d";
}
.icon-candy:before {
  content: "\ec8e";
}
.icon-lollipop:before {
  content: "\ec91";
}
.icon-donut:before {
  content: "\ec92";
}
.icon-coffee-maker:before {
  content: "\ec93";
}
.icon-coffee-pot:before {
  content: "\ec94";
}
.icon-paper-cup:before {
  content: "\ec95";
}
.icon-mug:before {
  content: "\ec96";
}
.icon-coffee-bean:before {
  content: "\ec97";
}
.icon-cherry:before {
  content: "\ec98";
}
.icon-grape:before {
  content: "\ec9a";
}
.icon-citrus:before {
  content: "\ec9b";
}
.icon-apple:before {
  content: "\ec99";
}
.icon-apple-check:before {
  content: "\ec9c";
}
.icon-leaf:before {
  content: "\ec9d";
}
.icon-leaf-plus:before {
  content: "\ec9e";
}
.icon-leaf-check:before {
  content: "\ec9f";
}
.icon-leaf-cross:before {
  content: "\eca1";
}
.icon-cactus:before {
  content: "\eca2";
}
.icon-diving-mask:before {
  content: "\eca0";
}
.icon-fish-bowl:before {
  content: "\eca3";
}
.icon-hook:before {
  content: "\eca4";
}
.icon-paw:before {
  content: "\eca9";
}
.icon-footprint:before {
  content: "\ecab";
}
.icon-speed-slow:before {
  content: "\eca5";
}
.icon-speed-medium:before {
  content: "\eca6";
}
.icon-speed-fast:before {
  content: "\eca7";
}
.icon-rocket:before {
  content: "\eca8";
}
.icon-flying-saucer:before {
  content: "\ecae";
}
.icon-flying-saucer2:before {
  content: "\ecaa";
}
.icon-hammer2:before {
  content: "\ecaf";
}
.icon-balance:before {
  content: "\ecac";
}
.icon-briefcase:before {
  content: "\ecad";
}
.icon-briefcase-money:before {
  content: "\ecb0";
}
.icon-briefcase-question:before {
  content: "\ecb1";
}
.icon-luggage-weight:before {
  content: "\ecb2";
}
.icon-hand-truck:before {
  content: "\ecb5";
}
.icon-construction:before {
  content: "\ecb8";
}
.icon-construction-cone:before {
  content: "\ecb3";
}
.icon-traffic-lights:before {
  content: "\ecb4";
}
.icon-siren:before {
  content: "\ecb9";
}
.icon-siren-bright:before {
  content: "\ecb6";
}
.icon-road:before {
  content: "\ecb7";
}
.icon-disc-brake:before {
  content: "\ecba";
}
.icon-engine:before {
  content: "\ecbb";
}
.icon-oil-pressure:before {
  content: "\ecbc";
}
.icon-car-battery:before {
  content: "\ecbd";
}
.icon-charging-station:before {
  content: "\ecbe";
}
.icon-gas-station:before {
  content: "\ecbf";
}
.icon-gallon:before {
  content: "\ecc1";
}
.icon-transmission:before {
  content: "\ecc2";
}
.icon-car:before {
  content: "\ecc0";
}
.icon-car-plug:before {
  content: "\ecc3";
}
.icon-car-check:before {
  content: "\ecc4";
}
.icon-car-cross:before {
  content: "\ecc5";
}
.icon-car-wash:before {
  content: "\ecc6";
}
.icon-car-lock:before {
  content: "\ecc7";
}
.icon-car-parking:before {
  content: "\ecc8";
}
.icon-bus:before {
  content: "\ecc9";
}
.icon-bus2:before {
  content: "\ecca";
}
.icon-car2:before {
  content: "\eccb";
}
.icon-car-lock2:before {
  content: "\eccc";
}
.icon-car-parking2:before {
  content: "\eccd";
}
.icon-police:before {
  content: "\ecce";
}
.icon-taxi:before {
  content: "\ecd0";
}
.icon-jet-engine:before {
  content: "\ecd1";
}
.icon-airplane:before {
  content: "\eccf";
}
.icon-airplane-cross:before {
  content: "\ecd3";
}
.icon-quadcopter:before {
  content: "\ecd4";
}
.icon-helicopter:before {
  content: "\ecd2";
}
.icon-helipad:before {
  content: "\ecd5";
}
.icon-helipad2:before {
  content: "\ecd6";
}
.icon-first-aid:before {
  content: "\ecd8";
}
.icon-ambulance:before {
  content: "\ecd9";
}
.icon-truck:before {
  content: "\ecd7";
}
.icon-truck-arrow:before {
  content: "\ecda";
}
.icon-truck-time:before {
  content: "\ecdb";
}
.icon-truck-check:before {
  content: "\ecdc";
}
.icon-truck-cross:before {
  content: "\ecdf";
}
.icon-truck-scale:before {
  content: "\ece2";
}
.icon-train:before {
  content: "\ecdd";
}
.icon-yacht:before {
  content: "\ecde";
}
.icon-ship:before {
  content: "\ece3";
}
.icon-anchor:before {
  content: "\ece0";
}
.icon-lighthouse:before {
  content: "\ece1";
}
.icon-boat:before {
  content: "\ece9";
}
.icon-bicycle:before {
  content: "\eceb";
}
.icon-bicycle-riding:before {
  content: "\ece4";
}
.icon-skating:before {
  content: "\ece5";
}
.icon-hiking:before {
  content: "\ece6";
}
.icon-rowing:before {
  content: "\ece7";
}
.icon-swimming:before {
  content: "\ece8";
}
.icon-swimming-warning:before {
  content: "\ecec";
}
.icon-diving:before {
  content: "\ecea";
}
.icon-diving-warning:before {
  content: "\eced";
}
.icon-snorkeling:before {
  content: "\ecee";
}
.icon-weight-lifting:before {
  content: "\ecef";
}
.icon-dumbbell:before {
  content: "\ecf0";
}
.icon-baseball:before {
  content: "\ecf1";
}
.icon-baseball-bat:before {
  content: "\ecf2";
}
.icon-football:before {
  content: "\ecf4";
}
.icon-hockey:before {
  content: "\ecf7";
}
.icon-golf:before {
  content: "\ecf3";
}
.icon-bowling-ball:before {
  content: "\ecfa";
}
.icon-tennis:before {
  content: "\ecf5";
}
.icon-tennis-ball:before {
  content: "\ecf6";
}
.icon-pool:before {
  content: "\ecfb";
}
.icon-ping-pong:before {
  content: "\ecf8";
}
.icon-archery:before {
  content: "\ecf9";
}
.icon-target:before {
  content: "\ecfc";
}
.icon-fencing:before {
  content: "\ecfd";
}
.icon-slingshot:before {
  content: "\ecfe";
}
.icon-soccer:before {
  content: "\ecff";
}
.icon-basketball:before {
  content: "\ed01";
}
.icon-whistle:before {
  content: "\ed02";
}
.icon-cube:before {
  content: "\ed00";
}
.icon-cube-front:before {
  content: "\ed03";
}
.icon-cube-side:before {
  content: "\ed04";
}
.icon-cube-top:before {
  content: "\ed05";
}
.icon-cube-bottom:before {
  content: "\ed07";
}
.icon-cube-3d:before {
  content: "\ed08";
}
.icon-puzzle:before {
  content: "\ed06";
}
.icon-puzzle-down:before {
  content: "\ed09";
}
.icon-puzzle-check:before {
  content: "\ed0b";
}
.icon-puzzle-cross:before {
  content: "\ed0c";
}
.icon-sunglasses:before {
  content: "\ed0a";
}
.icon-glasses:before {
  content: "\ed0f";
}
.icon-glasses2:before {
  content: "\ed10";
}
.icon-accessibility:before {
  content: "\ed0d";
}
.icon-wheelchair:before {
  content: "\ed0e";
}
.icon-fence:before {
  content: "\ed11";
}
.icon-bricks:before {
  content: "\ed12";
}
.icon-apps:before {
  content: "\ed13";
}
.icon-apps2:before {
  content: "\ed14";
}
.icon-apps3:before {
  content: "\ed17";
}
.icon-apps4:before {
  content: "\ed19";
}
.icon-pointer:before {
  content: "\ed15";
}
.icon-select:before {
  content: "\ed16";
}
.icon-branches2:before {
  content: "\ed40";
}
.icon-earth:before {
  content: "\ed18";
}
.icon-earth-lock:before {
  content: "\ed41";
}
.icon-network:before {
  content: "\ed1a";
}
.icon-planet:before {
  content: "\ed1b";
}
.icon-smiley:before {
  content: "\ed1c";
}
.icon-wink:before {
  content: "\ed1d";
}
.icon-smirk:before {
  content: "\ed1e";
}
.icon-smirk-wink:before {
  content: "\ed1f";
}
.icon-neutral:before {
  content: "\ed20";
}
.icon-happy:before {
  content: "\ed21";
}
.icon-grin:before {
  content: "\ed22";
}
.icon-grin-braces:before {
  content: "\ed23";
}
.icon-grin-happy:before {
  content: "\ed24";
}
.icon-poker-face:before {
  content: "\ed25";
}
.icon-pleased:before {
  content: "\ed26";
}
.icon-sad:before {
  content: "\ed27";
}
.icon-tongue:before {
  content: "\ed28";
}
.icon-tongue-wink:before {
  content: "\ed29";
}
.icon-wondering:before {
  content: "\ed2a";
}
.icon-shocked:before {
  content: "\ed2b";
}
.icon-shocked2:before {
  content: "\ed2c";
}
.icon-dork:before {
  content: "\ed2d";
}
.icon-dead:before {
  content: "\ed2e";
}
.icon-confused:before {
  content: "\ed2f";
}
.icon-baffled:before {
  content: "\ed30";
}
.icon-mad:before {
  content: "\ed31";
}
.icon-angry:before {
  content: "\ed32";
}
.icon-grin-evil:before {
  content: "\ed33";
}
.icon-evil:before {
  content: "\ed34";
}
.icon-ninja:before {
  content: "\ed35";
}
.icon-insomnia:before {
  content: "\ed36";
}
.icon-zipped:before {
  content: "\ed37";
}
.icon-skeptical:before {
  content: "\ed38";
}
.icon-sophisticated:before {
  content: "\ed39";
}
.icon-geek:before {
  content: "\ed3a";
}
.icon-cool:before {
  content: "\ed3b";
}
.icon-dreaming:before {
  content: "\ed3c";
}
.icon-scared:before {
  content: "\ed3d";
}
.icon-robot:before {
  content: "\ed3e";
}
.icon-alien:before {
  content: "\ed3f";
}
.icon-tombstone:before {
  content: "\ed42";
}
.icon-ghost:before {
  content: "\ed43";
}
.icon-ghost-neutral:before {
  content: "\ed44";
}
.icon-ghost-dead:before {
  content: "\ed45";
}
.icon-crystal-ball:before {
  content: "\ed46";
}
.icon-witch-hat:before {
  content: "\ed47";
}
.icon-halloween:before {
  content: "\ed48";
}
.icon-snowman:before {
  content: "\ed49";
}
.icon-christmas-tree:before {
  content: "\ed4a";
}
.icon-easter-egg:before {
  content: "\ed4b";
}
.icon-mustache:before {
  content: "\ed4c";
}
.icon-mustache-glasses:before {
  content: "\ed4d";
}
.icon-mustache-monocle:before {
  content: "\ed4e";
}
.icon-cigar:before {
  content: "\ed4f";
}
.icon-cigar-warning:before {
  content: "\ed50";
}
.icon-cigar-no:before {
  content: "\ed51";
}
.icon-bell:before {
  content: "\ed56";
}
.icon-bell-ringing:before {
  content: "\ed57";
}
.icon-bell2:before {
  content: "\ed52";
}
.icon-bell-plus:before {
  content: "\ed53";
}
.icon-bell-minus:before {
  content: "\ed54";
}
.icon-bell-ringing2:before {
  content: "\ed55";
}
.icon-bell-snooze:before {
  content: "\ed58";
}
.icon-bell-music:before {
  content: "\ed5c";
}
.icon-bell-warning:before {
  content: "\ed5d";
}
.icon-megaphone2:before {
  content: "\ed59";
}
.icon-volume-100:before {
  content: "\ed5a";
}
.icon-volume-75:before {
  content: "\ed5b";
}
.icon-volume-50:before {
  content: "\ed60";
}
.icon-volume-25:before {
  content: "\ed61";
}
.icon-volume-0:before {
  content: "\ed5e";
}
.icon-volume-cross:before {
  content: "\ed5f";
}
.icon-network2:before {
  content: "\ed62";
}
.icon-connection:before {
  content: "\ed63";
}
.icon-connection-warning:before {
  content: "\ed64";
}
.icon-router:before {
  content: "\ed65";
}
.icon-router-warning:before {
  content: "\ed66";
}
.icon-wifi-100:before {
  content: "\ed67";
}
.icon-wifi-lock:before {
  content: "\ed68";
}
.icon-wifi-cross:before {
  content: "\ed69";
}
.icon-wifi-75:before {
  content: "\ed6a";
}
.icon-wifi-50:before {
  content: "\ed6b";
}
.icon-wifi-25:before {
  content: "\ed6c";
}
.icon-wifi-100-warning:before {
  content: "\ed6d";
}
.icon-wifi-75-warning:before {
  content: "\ed6e";
}
.icon-wifi-50-warning:before {
  content: "\ed6f";
}
.icon-wifi-25-warning:before {
  content: "\ed70";
}
.icon-stream:before {
  content: "\ed71";
}
.icon-stream-check:before {
  content: "\ed72";
}
.icon-stream-cross:before {
  content: "\ed73";
}
.icon-stream-warning:before {
  content: "\ed74";
}
.icon-communication:before {
  content: "\ed75";
}
.icon-communication-cross:before {
  content: "\ed76";
}
.icon-hotspot:before {
  content: "\ed78";
}
.icon-hotspot2:before {
  content: "\ed79";
}
.icon-antenna:before {
  content: "\ed77";
}
.icon-satellite:before {
  content: "\ed7b";
}
.icon-satellite-dish:before {
  content: "\ed7c";
}
.icon-mic:before {
  content: "\ed7a";
}
.icon-mic-cross:before {
  content: "\ed7d";
}
.icon-mic-warning:before {
  content: "\ed7e";
}
.icon-mic-settings:before {
  content: "\ed80";
}
.icon-mic-two-way:before {
  content: "\ed81";
}
.icon-mic2:before {
  content: "\ed7f";
}
.icon-mic-cross2:before {
  content: "\ed82";
}
.icon-mic-warning2:before {
  content: "\ed84";
}
.icon-spotlights:before {
  content: "\ed85";
}
.icon-hourglass:before {
  content: "\ed83";
}
.icon-spinner:before {
  content: "\ed86";
}
.icon-spinner2:before {
  content: "\ed87";
}
.icon-spinner3:before {
  content: "\ed8a";
}
.icon-spinner4:before {
  content: "\ed8b";
}
.icon-undo:before {
  content: "\ed88";
}
.icon-redo:before {
  content: "\ed89";
}
.icon-leap-backward:before {
  content: "\ed8e";
}
.icon-leap-forward:before {
  content: "\ed8f";
}
.icon-cw:before {
  content: "\ed8c";
}
.icon-sync:before {
  content: "\ed8d";
}
.icon-cw-bolt:before {
  content: "\ed90";
}
.icon-sync-warning:before {
  content: "\ed91";
}
.icon-sync-gear:before {
  content: "\ed93";
}
.icon-sync-cross:before {
  content: "\ed94";
}
.icon-ccw:before {
  content: "\ed92";
}
.icon-cw2:before {
  content: "\ed95";
}
.icon-ccw2:before {
  content: "\ed96";
}
.icon-refund:before {
  content: "\ed97";
}
.icon-rewind-5s:before {
  content: "\ed98";
}
.icon-rewind-10s:before {
  content: "\ed99";
}
.icon-forward-10s:before {
  content: "\ed9a";
}
.icon-forward-5s:before {
  content: "\ed9b";
}
.icon-history:before {
  content: "\ed9c";
}
.icon-self-timer:before {
  content: "\ed9d";
}
.icon-self-timer2:before {
  content: "\ed9f";
}
.icon-watch:before {
  content: "\eda0";
}
.icon-watch-handles:before {
  content: "\ed9e";
}
.icon-watch-health:before {
  content: "\eda1";
}
.icon-watch-warning:before {
  content: "\edad";
}
.icon-watch2:before {
  content: "\edae";
}
.icon-watch-handles2:before {
  content: "\eda2";
}
.icon-clock:before {
  content: "\eda3";
}
.icon-alarm:before {
  content: "\eda4";
}
.icon-alarm2:before {
  content: "\eda5";
}
.icon-alarm-plus:before {
  content: "\eda6";
}
.icon-alarm-minus:before {
  content: "\eda7";
}
.icon-alarm-check:before {
  content: "\eda8";
}
.icon-alarm-cross:before {
  content: "\eda9";
}
.icon-stopwatch:before {
  content: "\edaa";
}
.icon-stopwatch-cross:before {
  content: "\edab";
}
.icon-stopwatch-running:before {
  content: "\edac";
}
.icon-download:before {
  content: "\edaf";
}
.icon-upload2:before {
  content: "\edb0";
}
.icon-import:before {
  content: "\edb1";
}
.icon-insert-down:before {
  content: "\edb2";
}
.icon-insert-left:before {
  content: "\edb3";
}
.icon-insert-right:before {
  content: "\edb8";
}
.icon-insert-up:before {
  content: "\edb9";
}
.icon-extract-down:before {
  content: "\edb4";
}
.icon-extract-left:before {
  content: "\edb5";
}
.icon-extract-right:before {
  content: "\edb6";
}
.icon-extract-up:before {
  content: "\edb7";
}
.icon-cli:before {
  content: "\edba";
}
.icon-bug:before {
  content: "\edbb";
}
.icon-bug2:before {
  content: "\edbd";
}
.icon-file-code:before {
  content: "\edbe";
}
.icon-file-compressed:before {
  content: "\edbc";
}
.icon-file-music:before {
  content: "\edc3";
}
.icon-file-video:before {
  content: "\edc8";
}
.icon-file-picture:before {
  content: "\edbf";
}
.icon-file-preview:before {
  content: "\edc0";
}
.icon-file-chart:before {
  content: "\edc1";
}
.icon-file-chart-bars:before {
  content: "\edc2";
}
.icon-file-spreadsheet:before {
  content: "\edc9";
}
.icon-file-magnifier:before {
  content: "\edc4";
}
.icon-link:before {
  content: "\edc5";
}
.icon-unlink:before {
  content: "\edc6";
}
.icon-link2:before {
  content: "\edc7";
}
.icon-unlink2:before {
  content: "\edce";
}
.icon-link-cross:before {
  content: "\edcf";
}
.icon-thumbs-up:before {
  content: "\edca";
}
.icon-thumbs-down:before {
  content: "\edcb";
}
.icon-thumbs-up2:before {
  content: "\edcc";
}
.icon-thumbs-down2:before {
  content: "\edcd";
}
.icon-share:before {
  content: "\edd0";
}
.icon-share2:before {
  content: "\eddf";
}
.icon-share3:before {
  content: "\ede1";
}
.icon-loupe:before {
  content: "\edd1";
}
.icon-loup-plus:before {
  content: "\edd2";
}
.icon-loup-minus:before {
  content: "\edd3";
}
.icon-search:before {
  content: "\edd4";
}
.icon-zoom-in:before {
  content: "\edd5";
}
.icon-zoom-out:before {
  content: "\edd6";
}
.icon-magnifier-marquee:before {
  content: "\edd7";
}
.icon-magnifier-move:before {
  content: "\edd8";
}
.icon-find-replace:before {
  content: "\edd9";
}
.icon-magnifier-next:before {
  content: "\edda";
}
.icon-magnifier-prev:before {
  content: "\eddb";
}
.icon-magnifier-check:before {
  content: "\eddc";
}
.icon-magnifier-question:before {
  content: "\eddd";
}
.icon-magnifier-user:before {
  content: "\edde";
}
.icon-magnifier-bug:before {
  content: "\ede2";
}
.icon-magnifier-dollar:before {
  content: "\ede0";
}
.icon-magnifier-euro:before {
  content: "\ede3";
}
.icon-magnifier-pound:before {
  content: "\ede4";
}
.icon-magnifier-yen:before {
  content: "\ede5";
}
.icon-magnifier-ruble:before {
  content: "\ede6";
}
.icon-menu:before {
  content: "\ede7";
}
.icon-ul:before {
  content: "\ede8";
}
.icon-ul2:before {
  content: "\ede9";
}
.icon-ol:before {
  content: "\edea";
}
.icon-checklist2:before {
  content: "\edeb";
}
.icon-checklist-time:before {
  content: "\edec";
}
.icon-dropdown:before {
  content: "\ee00";
}
.icon-eject:before {
  content: "\ee13";
}
.icon-first:before {
  content: "\eded";
}
.icon-backward:before {
  content: "\edee";
}
.icon-previous:before {
  content: "\edef";
}
.icon-previous-frame:before {
  content: "\edf0";
}
.icon-play:before {
  content: "\edf1";
}
.icon-pause:before {
  content: "\edf2";
}
.icon-next-frame:before {
  content: "\edf3";
}
.icon-stop:before {
  content: "\edf4";
}
.icon-record:before {
  content: "\edf5";
}
.icon-forward:before {
  content: "\edf6";
}
.icon-next:before {
  content: "\edf7";
}
.icon-last:before {
  content: "\edf8";
}
.icon-exclamation:before {
  content: "\edf9";
}
.icon-question:before {
  content: "\edfa";
}
.icon-check:before {
  content: "\edfb";
}
.icon-cross:before {
  content: "\edfc";
}
.icon-obelus:before {
  content: "\edfd";
}
.icon-plus:before {
  content: "\edfe";
}
.icon-minus:before {
  content: "\edff";
}
.icon-plus-minus:before {
  content: "\ee14";
}
.icon-percent:before {
  content: "\ee01";
}
.icon-code:before {
  content: "\ee02";
}
.icon-chevron-up:before {
  content: "\ee03";
}
.icon-chevron-down:before {
  content: "\ee04";
}
.icon-chevron-left:before {
  content: "\ee05";
}
.icon-chevron-right:before {
  content: "\ee06";
}
.icon-expand-vertical:before {
  content: "\ee07";
}
.icon-expand-horizontal:before {
  content: "\ee08";
}
.icon-shrink-vertical:before {
  content: "\ee09";
}
.icon-shrink-horizontal:before {
  content: "\ee0a";
}
.icon-arrow-up:before {
  content: "\ee0b";
}
.icon-arrow-down:before {
  content: "\ee0c";
}
.icon-arrow-left:before {
  content: "\ee0d";
}
.icon-arrow-right:before {
  content: "\ee0e";
}
.icon-arrow-ne:before {
  content: "\ee0f";
}
.icon-arrow-nw:before {
  content: "\ee10";
}
.icon-arrow-se:before {
  content: "\ee11";
}
.icon-arrow-sw:before {
  content: "\ee12";
}
.icon-split:before {
  content: "\ee15";
}
.icon-merge:before {
  content: "\ee16";
}
.icon-missed-outgoing2:before {
  content: "\ee17";
}
.icon-missed-incoming2:before {
  content: "\ee18";
}
.icon-enter2:before {
  content: "\ee1b";
}
.icon-tab:before {
  content: "\ee1c";
}
.icon-expand:before {
  content: "\ee19";
}
.icon-shrink:before {
  content: "\ee1a";
}
.icon-source:before {
  content: "\ee1d";
}
.icon-sink2:before {
  content: "\ee1e";
}
.icon-expand2:before {
  content: "\ee1f";
}
.icon-shrink2:before {
  content: "\ee20";
}
.icon-move:before {
  content: "\ee22";
}
.icon-swap-horizontal:before {
  content: "\ee2a";
}
.icon-swap-vertical:before {
  content: "\ee21";
}
.icon-swap-calls:before {
  content: "\ee2b";
}
.icon-warning:before {
  content: "\ee23";
}
.icon-stop2:before {
  content: "\ee24";
}
.icon-warning-octagon:before {
  content: "\ee25";
}
.icon-warning-circle:before {
  content: "\ee26";
}
.icon-question-circle:before {
  content: "\ee27";
}
.icon-info-circle:before {
  content: "\ee28";
}
.icon-info-octagon:before {
  content: "\ee29";
}
.icon-menu-circle:before {
  content: "\ee2c";
}
.icon-no:before {
  content: "\ee2d";
}
.icon-no-entry:before {
  content: "\ee2e";
}
.icon-tren-circle:before {
  content: "\ee2f";
}
.icon-chart-circle:before {
  content: "\ee30";
}
.icon-side-up-circle:before {
  content: "\ee31";
}
.icon-radio-unchecked:before {
  content: "\ee32";
}
.icon-radio-checked:before {
  content: "\ee33";
}
.icon-cross-circle:before {
  content: "\ee34";
}
.icon-check-circle:before {
  content: "\ee35";
}
.icon-download-circle:before {
  content: "\ee36";
}
.icon-upload-circle:before {
  content: "\ee37";
}
.icon-transfer-circle:before {
  content: "\ee38";
}
.icon-code-circle:before {
  content: "\ee39";
}
.icon-arrow-up-circle:before {
  content: "\ee3a";
}
.icon-arrow-down-circle:before {
  content: "\ee3b";
}
.icon-arrow-left-circle:before {
  content: "\ee3c";
}
.icon-arrow-right-circle:before {
  content: "\ee3d";
}
.icon-chevron-up-circle:before {
  content: "\ee3e";
}
.icon-chevron-down-circle:before {
  content: "\ee3f";
}
.icon-chevron-left-circle:before {
  content: "\ee40";
}
.icon-chevron-right-circle:before {
  content: "\ee41";
}
.icon-eject-circle:before {
  content: "\ee42";
}
.icon-first-circle:before {
  content: "\ee43";
}
.icon-backward-circle:before {
  content: "\ee44";
}
.icon-previous-circle:before {
  content: "\ee45";
}
.icon-previous-frame-circle:before {
  content: "\ee46";
}
.icon-play-circle:before {
  content: "\ee47";
}
.icon-pause-circle:before {
  content: "\ee48";
}
.icon-next-frame-circle:before {
  content: "\ee49";
}
.icon-stop-circle:before {
  content: "\ee4a";
}
.icon-next-circle:before {
  content: "\ee4b";
}
.icon-forward-circle:before {
  content: "\ee4c";
}
.icon-last-circle:before {
  content: "\ee4d";
}
.icon-equals-circle:before {
  content: "\ee4e";
}
.icon-plus-circle:before {
  content: "\ee4f";
}
.icon-minus-circle:before {
  content: "\ee50";
}
.icon-cross-circle2:before {
  content: "\ee51";
}
.icon-obelus-circle:before {
  content: "\ee52";
}
.icon-plus-minus-circle:before {
  content: "\ee53";
}
.icon-percent-circle:before {
  content: "\ee54";
}
.icon-infinity-circle:before {
  content: "\ee55";
}
.icon-warning-square:before {
  content: "\ee56";
}
.icon-question-square:before {
  content: "\ee57";
}
.icon-info-square:before {
  content: "\ee58";
}
.icon-menu-square:before {
  content: "\ee59";
}
.icon-exposure:before {
  content: "\ee5a";
}
.icon-trend-square:before {
  content: "\ee5b";
}
.icon-chart-square:before {
  content: "\ee5c";
}
.icon-side-up-square:before {
  content: "\ee5d";
}
.icon-checkbox-unchecked:before {
  content: "\ee5e";
}
.icon-cross-square:before {
  content: "\ee5f";
}
.icon-check-square:before {
  content: "\ee60";
}
.icon-download-square:before {
  content: "\ee61";
}
.icon-upload-square:before {
  content: "\ee62";
}
.icon-transfer-square:before {
  content: "\ee63";
}
.icon-code-square:before {
  content: "\ee64";
}
.icon-arrow-up-square:before {
  content: "\ee65";
}
.icon-arrow-down-square:before {
  content: "\ee66";
}
.icon-arrow-left-square:before {
  content: "\ee67";
}
.icon-arrow-right-square:before {
  content: "\ee68";
}
.icon-chevron-up-square:before {
  content: "\ee69";
}
.icon-chevron-down-square:before {
  content: "\ee6a";
}
.icon-chevron-left-square:before {
  content: "\ee6b";
}
.icon-chevron-right-square:before {
  content: "\ee6c";
}
.icon-eject-square:before {
  content: "\ee6d";
}
.icon-first-circle2:before {
  content: "\ee6e";
}
.icon-backward-square:before {
  content: "\ee6f";
}
.icon-previous-square:before {
  content: "\ee70";
}
.icon-previous-frame-square:before {
  content: "\ee71";
}
.icon-play-square:before {
  content: "\ee72";
}
.icon-pause-square:before {
  content: "\ee73";
}
.icon-next-frame-square:before {
  content: "\ee74";
}
.icon-stop-square:before {
  content: "\ee75";
}
.icon-next-square:before {
  content: "\ee76";
}
.icon-forward-square:before {
  content: "\ee77";
}
.icon-last-square:before {
  content: "\ee78";
}
.icon-equals-square:before {
  content: "\ee79";
}
.icon-plus-square:before {
  content: "\ee7a";
}
.icon-minus-square:before {
  content: "\ee7b";
}
.icon-cross-square2:before {
  content: "\ee7c";
}
.icon-obelus-square:before {
  content: "\ee7d";
}
.icon-plus-minus-square:before {
  content: "\ee7e";
}
.icon-percent-square:before {
  content: "\ee7f";
}
.icon-infinity-square:before {
  content: "\ee80";
}
.icon-crop:before {
  content: "\ee81";
}
.icon-crop2:before {
  content: "\ee82";
}
.icon-crop-rotate:before {
  content: "\ee83";
}
.icon-cutter:before {
  content: "\ee84";
}
.icon-shrink-square:before {
  content: "\ee85";
}
.icon-expand-square:before {
  content: "\ee86";
}
.icon-expand-square2:before {
  content: "\ee87";
}
.icon-full-screen-enter:before {
  content: "\ee88";
}
.icon-full-screen-exit:before {
  content: "\ee89";
}
.icon-full-screen-enter2:before {
  content: "\ee8a";
}
.icon-full-screen-exit2:before {
  content: "\ee8b";
}
.icon-focal-point:before {
  content: "\ee8c";
}
.icon-free-transform:before {
  content: "\ee8d";
}
.icon-grid:before {
  content: "\ee8f";
}
.icon-grid-cross:before {
  content: "\ee90";
}
.icon-layers:before {
  content: "\ee8e";
}
.icon-layers-cross:before {
  content: "\ee91";
}
.icon-fold:before {
  content: "\ee92";
}
.icon-unfold:before {
  content: "\ee93";
}
.icon-rulers:before {
  content: "\ee94";
}
.icon-ruler:before {
  content: "\ee95";
}
.icon-priority-increase:before {
  content: "\ee96";
}
.icon-priority-decrease:before {
  content: "\ee97";
}
.icon-bring-forward:before {
  content: "\ee98";
}
.icon-send-backward:before {
  content: "\ee99";
}
.icon-move-up:before {
  content: "\ee9a";
}
.icon-move-down:before {
  content: "\ee9b";
}
.icon-group2:before {
  content: "\ee9c";
}
.icon-group3:before {
  content: "\ee9d";
}
.icon-resize:before {
  content: "\ee9e";
}
.icon-scale-down:before {
  content: "\ee9f";
}
.icon-scale-up:before {
  content: "\eea0";
}
.icon-squash:before {
  content: "\eea1";
}
.icon-funnel:before {
  content: "\eea2";
}
.icon-flip-vertical:before {
  content: "\eea3";
}
.icon-flip-horizontal:before {
  content: "\eea4";
}
.icon-flip-vertical2:before {
  content: "\eea5";
}
.icon-flip-horizontal2:before {
  content: "\eea6";
}
.icon-round-corner:before {
  content: "\eea7";
}
.icon-angle:before {
  content: "\eea8";
}
.icon-angle2:before {
  content: "\eea9";
}
.icon-combine:before {
  content: "\eeaa";
}
.icon-subtract:before {
  content: "\eeab";
}
.icon-intersect:before {
  content: "\eeac";
}
.icon-exclude:before {
  content: "\eead";
}
.icon-align-center-vertical:before {
  content: "\eeae";
}
.icon-align-left:before {
  content: "\eeaf";
}
.icon-align-right:before {
  content: "\eeb0";
}
.icon-align-bottom:before {
  content: "\eeb1";
}
.icon-align-center-horizontal:before {
  content: "\eeb2";
}
.icon-align-top:before {
  content: "\eeb3";
}
.icon-canvas:before {
  content: "\eeb4";
}
.icon-canvas-fit:before {
  content: "\eeb5";
}
.icon-canvas-bottom:before {
  content: "\eeb6";
}
.icon-canvas-center:before {
  content: "\eeb7";
}
.icon-canvas-left:before {
  content: "\eeb8";
}
.icon-canvas-right:before {
  content: "\eeb9";
}
.icon-canvas-top:before {
  content: "\eeba";
}
.icon-move-bottom-up:before {
  content: "\eebb";
}
.icon-move-top-down:before {
  content: "\eebc";
}
.icon-move-left-right:before {
  content: "\eebd";
}
.icon-move-right-left:before {
  content: "\eebe";
}
.icon-move-bottom-down:before {
  content: "\eebf";
}
.icon-move-top-up:before {
  content: "\eec0";
}
.icon-move-left-left:before {
  content: "\eec1";
}
.icon-move-right-right:before {
  content: "\eec2";
}
.icon-ligature:before {
  content: "\eec3";
}
.icon-format-shapes:before {
  content: "\eec4";
}
.icon-text-color:before {
  content: "\eec5";
}
.icon-format-clear:before {
  content: "\eec6";
}
.icon-text-size:before {
  content: "\eec7";
}
.icon-text-size2:before {
  content: "\eec8";
}
.icon-text-size-increase:before {
  content: "\eec9";
}
.icon-text-size-decrease:before {
  content: "\eeca";
}
.icon-bold:before {
  content: "\eecb";
}
.icon-italic:before {
  content: "\eecc";
}
.icon-underline:before {
  content: "\eecd";
}
.icon-strikethrough:before {
  content: "\eece";
}
.icon-text-down:before {
  content: "\eecf";
}
.icon-subscript:before {
  content: "\eed0";
}
.icon-superscript:before {
  content: "\eed1";
}
.icon-highlight:before {
  content: "\eed2";
}
.icon-text-align-left:before {
  content: "\eed3";
}
.icon-text-align-center:before {
  content: "\eed4";
}
.icon-text-align-right:before {
  content: "\eed5";
}
.icon-text-align-justify:before {
  content: "\eed6";
}
.icon-line-spacing:before {
  content: "\eed7";
}
.icon-indent-decrease:before {
  content: "\eed8";
}
.icon-indent-increase:before {
  content: "\eed9";
}
.icon-text-around:before {
  content: "\eeda";
}
.icon-pilcrow:before {
  content: "\eedb";
}
.icon-direction-ltr:before {
  content: "\eedc";
}
.icon-direction-rtl:before {
  content: "\eedd";
}
.icon-page-break:before {
  content: "\eede";
}
.icon-sort-alpha-asc:before {
  content: "\eedf";
}
.icon-sort-alpha-desc:before {
  content: "\eee0";
}
.icon-sort-numeric-asc:before {
  content: "\eee1";
}
.icon-sort-numeric-desc:before {
  content: "\eee2";
}
.icon-sort-time-asc:before {
  content: "\eee3";
}
.icon-sort-time-desc:before {
  content: "\eee4";
}
.icon-sort-size-asc:before {
  content: "\eee5";
}
.icon-sort-size-desc:before {
  content: "\eee6";
}
.icon-sigma:before {
  content: "\eee7";
}
.icon-omega:before {
  content: "\eee8";
}
.icon-sine:before {
  content: "\eeea";
}
.icon-cosine:before {
  content: "\eeeb";
}
.icon-border-color:before {
  content: "\eee9";
}
.icon-handwriting:before {
  content: "\eeed";
}
.icon-fingerprint:before {
  content: "\eef3";
}
.icon-palm:before {
  content: "\eeec";
}
.icon-hand-grip:before {
  content: "\eef4";
}
.icon-pointer-up:before {
  content: "\eeee";
}
.icon-pointer-down:before {
  content: "\eeef";
}
.icon-pointer-left:before {
  content: "\eef0";
}
.icon-pointer-right:before {
  content: "\eef1";
}
.icon-tap-all:before {
  content: "\eef2";
}
.icon-tap:before {
  content: "\eef5";
}
.icon-tap-two:before {
  content: "\eef6";
}
.icon-gesture-zoom:before {
  content: "\eef7";
}
.icon-gesture-pinch:before {
  content: "\eef8";
}
.icon-swipe-horizontal:before {
  content: "\eef9";
}
.icon-swipe-left:before {
  content: "\eefa";
}
.icon-swipe-right:before {
  content: "\eefb";
}
.icon-swipe-vertical:before {
  content: "\eefc";
}
.icon-swipe-up:before {
  content: "\eefd";
}
.icon-swipe-down:before {
  content: "\eefe";
}
.icon-scroll-horizontal:before {
  content: "\eeff";
}
.icon-scroll-left:before {
  content: "\ef00";
}
.icon-scroll-right:before {
  content: "\ef01";
}
.icon-scroll-vertical:before {
  content: "\ef02";
}
.icon-scroll-up:before {
  content: "\ef03";
}
.icon-scroll-down:before {
  content: "\ef04";
}
.icon-reminder:before {
  content: "\ef07";
}
.icon-horns:before {
  content: "\ef08";
}
.icon-ellipsis:before {
  content: "\ef05";
}
.icon-menu2:before {
  content: "\ef06";
}
